In [2]:
import pandas as pd

cleaned_geolocation = pd.read_csv("C:/Users/Ros/Documents/GitHub/tp_final_proj/cleaned_geolocation.csv")
cleaned_geolocation
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('õ','o', case=False)

In [3]:
cleaned_geolocation_df =cleaned_geolocation.groupby(['geolocation_zip_code_prefix','geolocation_city','geolocation_state']).agg({'geolocation_lat': 'mean','geolocation_lng':'mean'}).reset_index()
cleaned_geolocation_df

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
...,...,...,...,...,...
19582,99960,charrua,RS,-27.953722,-52.025511
19583,99965,agua santa,RS,-28.183372,-52.039850
19584,99970,ciriaco,RS,-28.343920,-51.874988
19585,99980,david canabarro,RS,-28.389500,-51.843122
19586,99990,muliterno,RS,-28.329595,-51.769362

In [4]:
cleaned_geolocation_df = cleaned_geolocation_df.sort_values(by='geolocation_zip_code_prefix')
cleaned_geolocation_df.info()
print(cleaned_geolocation_df.nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 19587 entries, 0 to 19586
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19587 non-null  int64
 1   geolocation_city             19587 non-null  object
 2   geolocation_state            19587 non-null  object
 3   geolocation_lat              19587 non-null  float64
 4   geolocation_lng              19587 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 918.1+ KB
geolocation_zip_code_prefix    19015
geolocation_city                5950
geolocation_state                 27
geolocation_lat                19571
geolocation_lng                19571
dtype: int64

In [5]:
if len(cleaned_geolocation_df) == len(cleaned_geolocation_df.drop_duplicates()):
    print("Dataframe doesn't have duplicates")
else:
    print("The dataframe contains duplicates")

Dataframe doesn't have duplicates

duplicates= geolocation_df.duplicated()
dupe_df = geolocation_df[duplicates]
dupe_df ####this willprint the duplicate rows in geolocation_df

In [9]:
g1=cleaned_geolocation_df[['geolocation_zip_code_prefix','geolocation_city']]
duplicates= g1['geolocation_zip_code_prefix'].duplicated()
duplicate_zip= g1[duplicates]
duplicate_zip

       geolocation_zip_code_prefix       geolocation_city
160                           1307              sao paulo
369                           2116              sao paulo
1097                          3203              sao paulo
1665                          4004        taboao da serra
1672                          4011              sao paulo
...                            ...                    ...
19121                        96222             rio grande
19203                        96859          monte alverne
19273                        97538         barrado quarai
19285                        97573  santana do livramento
19291                        97578  santana do livramento

[572 rows x 2 columns]