In [20]:
import pandas as pd

cleaned_geolocation = pd.read_csv("C:/Users/Ros/Documents/GitHub/tp_final_proj/cleaned_geolocation.csv")
cleaned_geolocation
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('õ','o', case=False)


cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sant'ana do livramento","santana do livramento", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("barra do quarai","barrado quarai", case=False)

cleaned_geolocation= cleaned_geolocation.drop(columns=['id_geo'])

In [22]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('embu das artes','embu', case=False)

In [23]:
# Apply a lambda function to the column for replacements
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].apply(lambda x: x.replace("d’oeste", "d oeste", -1).replace("d’ oeste", "d oeste", -1).replace("doeste", "d oeste", -1))

In [24]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval d' oeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval d'oeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval doeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("ü","u", case=False)

In [25]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('florian&oacute;polis','florianopolis', case=False)

xangrila >> xangri la, diamante d'oeste >> diamante d oeste ,porto aelgre >> porto alegre, picarras >>balneario picarras

In [26]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rancho alegre d'oeste","rancho alegre d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("xangrila","xangri la", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("diamante d'oeste","diamante d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("porto aelgre","porto alegre", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("picarras","balneario picarras", case=False)

In [27]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('embu','embu das artes', case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("balneario camboriu","camboriu", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("quarto centenario","centenario", case=False)

camboriu>> balneario camboriu	, centenario>> quarto centenario

In [28]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("camboriu","balneario camboriu", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("centenario","quarto centenario", case=False)

In [29]:

cleaned_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,75345,-16.758001,-49.435440,abadia de goias,GO
1,75345,-16.767623,-49.426674,abadia de goias,GO
2,75345,-16.789539,-49.469430,abadia de goias,GO
3,75345,-16.756821,-49.435020,abadia de goias,GO
4,75345,-16.766377,-49.437467,abadia de goias,GO
...,...,...,...,...,...
720474,89633,-27.454885,-51.549254,zortea,SC
720475,89633,-27.454065,-51.554470,zortea,SC
720476,89633,-27.458106,-51.553812,zortea,SC
720477,89633,-27.454790,-51.550597,zortea,SC
720478,89633,-27.454807,-51.550569,zortea,SC

In [30]:
# Apply the replace() method to replace variations
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao jorge d'oeste", "sao jorge d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao jorge do oeste", "sao jorge d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itapejara d'oeste", "itapejara d oeste", case=False)

In [31]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("perola d'oeste", "perola d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("balneario balneario picarras", "balneario picarras", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao bernardo do campo", "sao bernardo do campo", case=False)

In [32]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("mogidascruzes", "mogi das cruzes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao bernardo do campo", "sao bernardo do campo", case=False)

santa barbara d'oeste	,jacare (cabreuva), sao luis do paraitinga, santa barbara d`oeste

In [33]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa barbara d'oeste", "santa barbara d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("jacare (cabreuva)", "jacare", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao luis do paraitinga", "sao luiz do paraitinga", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa barbara d`oeste", "santa barbara d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("d`", "d ", case=False)

estrela d'oeste

In [35]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("estrela d'oeste", "estrela d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("palmeira d'oeste", "palmeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("aparecida d'oeste", "aparecida d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa rita d'oeste", "santa rita d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa clara d'oeste", "santa clara d oeste", case=False)

In [36]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau d%26apos%3balho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau d'alho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau dalho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rio de janeiro, rio de janeiro, brasil", "rio de janeiro", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rj", "rio de janeiro", case=False)

In [37]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_city'] == 'sao paulo', 'geolocation_state'] = 'SP'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_city'] == 'rio de janeiro', 'geolocation_state'] = 'RJ'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 79750, 'geolocation_state'] = 'MS'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 78557, 'geolocation_state'] = 'MT'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 72915, 'geolocation_state'] = 'GO'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 80630, 'geolocation_state'] = 'PR'

5372,guarulhos, 72915,taguatinga, 80630, curitiba

In [38]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 1307, 'geolocation_city'] = 'sao paulo'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 5372, 'geolocation_city'] = 'sao paulo'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 6050, 'geolocation_city'] = 'osasco'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7079, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7141, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7174, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7770, 'geolocation_city'] = 'cajamar'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7776, 'geolocation_city'] = 'cajamar'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 78557,'geolocation_city'] = 'sinop'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 72915,'geolocation_city'] = 'taguatinga'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 80630,'geolocation_city'] = 'curitiba'

In [39]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 3203, 'geolocation_city'] = 'sao paulo'

cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 4004, 'geolocation_city'] = 'sao paulo'

bacaxa (saquarema) distrito,tamoios (cabo frio),penedo (itatiaia),california da barra (barra do pirai)

In [40]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("bacaxa (saquarema) distrito", "saquarema", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("tamoios (cabo frio)", "cabo frio", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("penedo (itatiaia)", "penedo", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("california da barra (barra do pirai)", "california da barra", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("campos dos goytacaze", "campos dos goytacazes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("goitacazes", "campos dos goytacazes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("armacao dos buzios", "buzios", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("armacao de buzios", "buzios", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("praia grande (fundao) distrito", "praia grande", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("venda nova do imigrante es", "venda nova do imigrante", case=False)

In [41]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao roque do cannaa", "sao roque do canaa", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("linharesl", "linhares", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("belo horizonta", "belo horizonte", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("bh", "belo horizonte", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("pingo d'agua", "pingo d agua", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("antunes (igaratinga)", "antunes", case=False)

realeza (manhuacu),maceiaÂ³,lambari d%26apos%3boeste

In [42]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("realeza (manhuacu)", "realeza", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("brasopolis", "brazopolis", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lavras mg", "lavras", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("piumhii", "piumhi", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("limeira do oeste mg", "limeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("limeira do oeste", "limeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("gouvea", "gouveia", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olhos d'agua", "olhos d agua", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("monte gordo (camacari) distrito", "gmonte gordo", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("dias davila", "dias d avila", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("dias d'avila", "dias d avila", case=False)

In [43]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa teresinha", "santa terezinha", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("arraial d'ajuda", "arraial d ajuda", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itabata", "itabatan", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itabatan (mucuri)", "itabatan", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("muquem de sao francisco", "muquem do sao francisco", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("campo alegre de lourdes, bahia, brasil", "campo alegre de lourdes", case=False)

In [44]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("maceiaÂ³", "maceio", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua grande", "olho dagua grande", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua do borges", "olho d agua do borges", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua das cunhas", "olho d agua das cunhas", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho dagua das cunhas", "olho d agua das cunhas", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("buritirana", "buritirama", case=False)

In [45]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lambari d%26apos%3boeste", "lambari d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lambari d'oeste", "lambari d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("figueiropolis d'oeste", "figueiropolis d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("mirassol d'oeste", "mirassol d oeste", case=False)

In [46]:
cleaned_geolocation_mean =cleaned_geolocation.groupby(['geolocation_zip_code_prefix','geolocation_city','geolocation_state']).agg({'geolocation_lat': 'mean','geolocation_lng':'mean'}).reset_index()
cleaned_geolocation_mean.head(50)

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
5,1006,sao paulo,SP,-23.550127,-46.636044
6,1007,sao paulo,SP,-23.549953,-46.637155
7,1008,sao paulo,SP,-23.545832,-46.635775
8,1009,sao paulo,SP,-23.546823,-46.636461
9,1010,sao paulo,SP,-23.546439,-46.635260
10,1011,sao paulo,SP,-23.546636,-46.635418
11,1012,sao paulo,SP,-23.547808,-46.634844
12,1013,sao paulo,SP,-23.547174,-46.634235
13,1014,sao paulo,SP,-23.546137,-46.633597
14,1015,sao paulo,SP,-23.547453,-46.632180
15,1016,sao paulo,SP,-23.549095,-46.632112
16,1017,sao paulo,SP,-23.549456,-46.631303
17,1018,sao paulo,SP,-23.551354,-46.632762
18,1019,sao paulo,SP,-23.551780,-46.630784
19,1020,sao paulo,SP,-23.552212,-46.629745
20,1021,sao paulo,SP,-23.542761,-46.632069
21,1022,sao paulo,SP,-23.544781,-46.632063
22,1023,sao paulo,SP,-23.542477,-46.631396
23,1024,sao paulo,SP,-23.541292,-46.629874
24,1025,sao paulo,SP,-23.540303,-46.631087
25,1026,sao paulo,SP,-23.539639,-46.632224
26,1027,sao paulo,SP,-23.538099,-46.630471
27,1028,sao paulo,SP,-23.535908,-46.633671
28,1029,sao paulo,SP,-23.540574,-46.633129
29,1030,sao paulo,SP,-23.540537,-46.633070
30,1031,sao paulo,SP,-23.541358,-46.634942
31,1032,sao paulo,SP,-23.539907,-46.635101
32,1033,sao paulo,SP,-23.538937,-46.636000
33,1034,sao paulo,SP,-23.542551,-46.637319
34,1035,sao paulo,SP,-23.541772,-46.641307
35,1036,sao paulo,SP,-23.541905,-46.640962
36,1037,sao paulo,SP,-23.545497,-46.639136
37,1038,sao paulo,SP,-23.543879,-46.639954
38,1039,sao paulo,SP,-23.541342,-46.639090
39,1040,sao paulo,SP,-23.541310,-46.638710
40,1041,sao paulo,SP,-23.544053,-46.639868
41,1042,sao paulo,SP,-23.544724,-46.640616
42,1043,sao paulo,SP,-23.545752,-46.641481
43,1044,sao paulo,SP,-23.545557,-46.641501
44,1045,sao paulo,SP,-23.542450,-46.642711
45,1046,sao paulo,SP,-23.545839,-46.643722
46,1047,sao paulo,SP,-23.546094,-46.640949
47,1048,sao paulo,SP,-23.547043,-46.639772
48,1049,sao paulo,SP,-23.547460,-46.639582
49,1050,sao paulo,SP,-23.549184,-46.643050

In [47]:
cleaned_geolocation_mean

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
...,...,...,...,...,...
19444,99960,charrua,RS,-27.953722,-52.025511
19445,99965,agua santa,RS,-28.183372,-52.039850
19446,99970,ciriaco,RS,-28.343920,-51.874988
19447,99980,david canabarro,RS,-28.389500,-51.843122
19448,99990,muliterno,RS,-28.329595,-51.769362

-15.724457	-48.272613

In [48]:
#cleaned_geolocation[cleaned_geolocation ['geolocation_city'].isin(["balneario de balneario picarras"])]

In [28]:
#cleaned_geolocation_mean[cleaned_geolocation_mean['geolocation_city'].isin(["taguatinga"])]

In [248]:
#cleaned_geolocation[cleaned_geolocation['geolocation_city'].isin(['sao luiz do paraitinga'])]

In [49]:
cleaned_geolocation_mean = cleaned_geolocation_mean.sort_values(by='geolocation_zip_code_prefix')
cleaned_geolocation_mean.info()
print(cleaned_geolocation_mean.nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 19449 entries, 0 to 19448
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19449 non-null  int64
 1   geolocation_city             19449 non-null  object
 2   geolocation_state            19449 non-null  object
 3   geolocation_lat              19449 non-null  float64
 4   geolocation_lng              19449 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 911.7+ KB
geolocation_zip_code_prefix    19015
geolocation_city                5865
geolocation_state                 27
geolocation_lat                19433
geolocation_lng                19433
dtype: int64

duplicates= geolocation_df.duplicated()
dupe_df = geolocation_df[duplicates]
dupe_df ####this willprint the duplicate rows in geolocation_df

In [50]:
g1=cleaned_geolocation_mean[['geolocation_zip_code_prefix','geolocation_city','geolocation_state']]
duplicates= g1['geolocation_zip_code_prefix'].duplicated()
duplicate_zip= g1[duplicates]
duplicate_zip

       geolocation_zip_code_prefix geolocation_city geolocation_state
3500                          7097        guarulhos                SP
3651                          7786       jordanesia                SP
3653                          7787          cajamar                SP
3657                          7790          cajamar                SP
3660                          7792          cajamar                SP
...                            ...              ...               ...
18141                        89294         fragosos                SC
18754                        95181      farroupilha                RS
18771                        95272     otavio rocha                RS
18986                        96222       rio grande                RS
19068                        96859    monte alverne                RS

[434 rows x 3 columns]

In [51]:
duplicate_rows= g1[g1.duplicated(subset=['geolocation_zip_code_prefix'], keep= False)]
print("INDEX NUMBER:")
print(duplicate_rows.index.tolist())
duplicate_rows.tail(50)

INDEX NUMBER:
[3499, 3500, 3650, 3651, 3652, 3653, 3656, 3657, 3659, 3660, 3661, 3662, 3911, 3910, 4180, 4181, 4283, 4281, 4282, 4473, 4474, 4476, 4477, 4482, 4483, 4485, 4486, 4488, 4489, 4492, 4493, 4494, 4495, 4635, 4636, 5004, 5005, 5041, 5042, 5221, 5220, 5236, 5237, 5260, 5261, 5333, 5334, 5380, 5381, 5433, 5434, 5713, 5714, 5865, 5866, 5889, 5890, 5909, 5910, 6106, 6107, 6115, 6116, 6191, 6192, 6222, 6223, 6247, 6246, 6291, 6292, 6307, 6308, 6358, 6359, 6362, 6363, 6365, 6366, 6647, 6646, 6752, 6753, 6809, 6810, 6811, 6812, 6813, 6814, 6819, 6820, 6858, 6859, 6860, 6861, 7010, 7011, 7022, 7023, 7024, 7025, 7179, 7180, 7184, 7185, 7188, 7189, 7199, 7200, 7205, 7206, 7214, 7215, 7217, 7216, 7220, 7221, 7222, 7223, 7224, 7432, 7433, 7460, 7461, 7464, 7465, 7468, 7469, 7482, 7481, 7484, 7485, 7486, 7487, 7560, 7561, 7585, 7586, 7592, 7593, 7594, 7595, 7597, 7596, 7602, 7603, 7640, 7641, 7654, 7653, 7673, 7674, 7675, 7676, 7678, 7679, 7683, 7684, 7693, 7694, 7696, 7697, 7714, 7715, 7730, 7729, 7733, 7734, 7736, 7737, 7759, 7760, 7761, 7762, 7765, 7766, 7774, 7775, 7819, 7820, 7825, 7824, 7826, 7827, 7829, 7830, 7905, 7906, 7988, 7989, 7990, 7991, 8015, 8016, 8024, 8023, 8064, 8065, 8093, 8094, 8101, 8102, 8151, 8152, 8411, 8412, 8617, 8618, 8622, 8621, 8657, 8658, 8679, 8680, 8711, 8712, 8721, 8722, 8730, 8731, 8732, 8733, 8747, 8748, 8762, 8763, 8761, 8786, 8787, 8789, 8790, 8792, 8791, 8805, 8806, 8807, 8808, 8809, 8810, 8812, 8811, 8813, 8814, 8815, 8816, 8827, 8828, 8840, 8841, 8878, 8877, 8935, 8934, 9001, 9000, 9019, 9018, 9097, 9098, 9099, 9100, 9101, 9119, 9120, 9135, 9134, 9176, 9177, 9204, 9205, 9206, 9207, 9271, 9272, 9297, 9296, 9360, 9361, 9483, 9484, 9486, 9485, 9487, 9488, 9489, 9490, 9491, 9492, 9520, 9521, 9540, 9541, 9630, 9631, 9706, 9705, 9759, 9760, 9771, 9770, 9769, 9777, 9778, 9780, 9779, 9793, 9794, 9885, 9884, 9894, 9893, 9923, 9924, 9954, 9955, 10022, 10023, 10046, 10045, 10394, 10395, 10396, 10399, 10400, 10401, 10402, 10403, 10404, 10405, 10417, 10418, 10637, 10638, 10698, 10699, 10730, 10729, 10766, 10767, 10769, 10768, 10794, 10795, 10797, 10798, 10799, 10800, 10816, 10817, 10897, 10898, 10921, 10922, 11003, 11004, 11043, 11042, 11448, 11449, 11487, 11488, 11491, 11490, 11510, 11511, 11524, 11525, 11644, 11645, 11647, 11648, 11701, 11702, 11786, 11787, 11822, 11821, 11824, 11825, 11842, 11841, 11904, 11905, 11909, 11910, 11936, 11935, 11952, 11953, 12085, 12086, 12088, 12087, 12089, 12090, 12091, 12092, 12096, 12097, 12153, 12154, 12213, 12214, 12215, 12216, 12217, 12218, 12221, 12220, 12222, 12223, 12224, 12225, 12228, 12229, 12233, 12234, 12453, 12454, 12553, 12552, 12889, 12890, 12965, 12966, 12977, 12978, 12981, 12980, 13016, 13017, 13025, 13026, 13178, 13179, 13743, 13744, 13798, 13799, 13800, 13807, 13806, 13938, 13939, 13961, 13962, 13990, 13991, 13992, 13993, 14026, 14025, 14039, 14040, 14059, 14060, 14086, 14087, 14090, 14091, 14123, 14124, 14159, 14158, 14314, 14315, 14356, 14357, 14359, 14360, 14497, 14498, 14499, 14500, 14502, 14501, 14503, 14504, 14505, 14506, 14507, 14508, 14511, 14510, 14512, 14513, 14514, 14515, 14600, 14601, 14602, 14603, 14605, 14604, 14606, 14607, 14609, 14610, 14611, 14612, 14615, 14616, 14623, 14622, 14625, 14624, 14626, 14627, 14628, 14629, 14634, 14633, 14637, 14638, 14642, 14641, 14644, 14643, 14645, 14646, 14648, 14649, 14650, 14651, 14653, 14652, 14655, 14656, 14657, 14658, 14660, 14659, 14663, 14664, 14665, 14666, 14667, 14668, 14669, 14670, 14672, 14671, 14674, 14675, 14676, 14677, 14682, 14681, 14685, 14686, 14687, 14688, 14689, 14690, 14694, 14695, 14698, 14699, 14701, 14702, 14706, 14707, 14710, 14709, 14711, 14712, 14716, 14717, 14720, 14721, 14722, 14723, 14724, 14725, 14727, 14728, 14730, 14731, 14734, 14735, 14736, 14737, 14739, 14738, 14745, 14746, 14748, 14747, 14749, 14750, 14752, 14753, 14754, 14755, 14784, 14785, 14787, 14786, 14788, 14789, 14792, 14793, 14796, 14795, 14797, 14798, 14799, 14800, 14801, 14802, 14804, 14803, 14806, 14807, 14809, 14810, 14811, 14812, 14815, 14814, 14817, 14818, 14823, 14824, 14825, 14826, 14827, 14828, 14829, 14830, 14833, 14832, 14834, 14835, 14836, 14837, 14839, 14840, 14841, 14842, 14844, 14845, 14851, 14852, 14850, 14854, 14855, 14856, 14857, 14859, 14860, 14862, 14863, 14865, 14866, 14871, 14870, 14877, 14878, 14879, 14880, 14881, 14882, 14888, 14887, 14890, 14889, 14891, 14892, 14894, 14895, 14897, 14898, 14900, 14899, 14901, 14902, 14905, 14906, 14910, 14911, 14914, 14915, 14916, 14917, 14919, 14918, 14923, 14924, 14925, 14926, 14929, 14930, 14931, 14932, 14934, 14935, 14937, 14936, 14939, 14940, 14941, 14942, 14947, 14946, 14958, 14959, 14960, 14961, 14964, 14963, 14966, 14965, 15041, 15040, 15043, 15044, 15046, 15047, 15050, 15049, 15051, 15052, 15053, 15054, 15056, 15057, 15059, 15060, 15061, 15062, 15063, 15064, 15068, 15069, 15071, 15072, 15073, 15074, 15075, 15076, 15080, 15081, 15084, 15085, 15092, 15093, 15098, 15099, 15106, 15107, 15109, 15110, 15116, 15115, 15114, 15538, 15539, 15563, 15562, 15603, 15604, 15684, 15685, 15700, 15701, 15755, 15756, 15776, 15777, 15845, 15846, 15848, 15847, 15849, 15850, 15851, 15852, 15863, 15864, 15897, 15898, 15906, 15905, 15907, 15908, 15909, 15910, 15912, 15913, 15917, 15918, 15924, 15923, 15936, 15937, 16212, 16213, 16248, 16249, 16326, 16327, 16369, 16370, 16556, 16557, 16704, 16703, 16865, 16864, 16927, 16928, 17075, 17076, 17077, 17183, 17184, 17457, 17458, 17459, 17460, 17534, 17535, 17555, 17556, 17671, 17670, 17710, 17711, 17757, 17756, 17815, 17814, 17816, 17817, 17849, 17850, 17929, 17928, 17949, 17950, 18023, 18022, 18037, 18038, 18140, 18141, 18755, 18754, 18770, 18771, 18985, 18986, 19069, 19068]

       geolocation_zip_code_prefix          geolocation_city geolocation_state
16557                        79760                 bataypora                MS
16704                        81470                  curitiba                PR
16703                        81470                    cidade                PR
16865                        83404                  curitiba                PR
16864                        83404                   colombo                PR
16927                        83810    areia branca dos assis                PR
16928                        83810               mandirituba                PR
17075                        85139           colonia vitoria                PR
17076                        85139                guarapuava                PR
17077                        85139                   vitoria                PR
17183                        85794     alto alegre do iguacu                PR
17184                        85794  capitao leonidas marques                PR
17457                        86818                 apucarana                PR
17458                        86818                    pirapo                PR
17459                        86819                 apucarana                PR
17460                        86819                 vila reis                PR
17534                        87145                  agua boa                PR
17535                        87145                  paicandu                PR
17555                        87214                  cianorte                PR
17556                        87214                   vidigal                PR
17671                        87895                terra rica                PR
17670                        87895         adhemar de barros                PR
17710                        88061             florianopolis                SC
17711                        88061                   floripa                SC
17757                        88165                guaporanga                SC
17756                        88165                   biguacu                SC
17815                        88370                navegantes                SC
17814                        88370                  botuvera                SC
17816                        88371                  botuvera                SC
17817                        88371                navegantes                SC
17849                        88509                     lages                SC
17850                        88509                   videira                SC
17929                        88835           morro da fumaca                SC
17928                        88835             estacao cocal                SC
17949                        88915                  maracaja                SC
17950                        88915                  maracana                SC
18023                        89115                luiz alves                SC
18022                        89115             gasao pauloar                SC
18037                        89143                 dalbergia                SC
18038                        89143                   ibirama                SC
18140                        89294              campo alegre                SC
18141                        89294                  fragosos                SC
18755                        95181                    jansen                RS
18754                        95181               farroupilha                RS
18770                        95272           flores da cunha                RS
18771                        95272              otavio rocha                RS
18985                        96222                    quinta                RS
18986                        96222                rio grande                RS
19069                        96859         santa cruz do sul                RS
19068                        96859             monte alverne                RS

In [53]:
duplicate_rows.head()

      geolocation_zip_code_prefix geolocation_city geolocation_state
3499                         7097       adamantina                SP
3500                         7097        guarulhos                SP
3650                         7786          cajamar                SP
3651                         7786       jordanesia                SP
3652                         7787         caieiras                SP

In [271]:
# Define the file path where you want to save the CSV file
csv_file_path = "C:/Users/Ros/Desktop/JDC/finalproject/duplicate.csv"

# Convert the DataFrame to a CSV file
duplicate_rows.to_csv(csv_file_path, index= True)

# Confirmation message
print("DataFrame converted to CSV successfully.")

DataFrame converted to CSV successfully.

In [55]:
if len(cleaned_geolocation_mean) == len(cleaned_geolocation_mean.drop_duplicates()):
    print("Dataframe doesn't have duplicates")
else:
    print("The dataframe contains duplicates")

Dataframe doesn't have duplicates

In [56]:
g2=cleaned_geolocation_mean[['geolocation_lat','geolocation_lng']]
duplicates_cordinates_bol= g2.duplicated(keep = False)
duplicates_cordinates= cleaned_geolocation_mean[duplicates_cordinates_bol]
duplicates_cordinates

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
2064,4479,sao paulo,SP,-23.660234,-46.720390
2281,4779,sao paulo,SP,-23.660234,-46.720390
8815,35418,lavras novas,MG,-20.470616,-43.516642
8816,35418,ouro preto,MG,-20.470616,-43.516642
14295,69410,caapiranga,AM,-3.328865,-61.210016
14297,69425,caapiranga,AM,-3.328865,-61.210016
14314,69555,carauari,AM,-3.374207,-64.711848
14315,69555,tefe,AM,-3.374207,-64.711848
14384,70002,brasilia,DF,-15.790439,-47.880655
14389,70044,brasilia,DF,-15.797782,-47.874682
14390,70047,brasilia,DF,-15.797782,-47.874682
14391,70048,brasilia,DF,-15.797782,-47.874682
14392,70053,brasilia,DF,-15.797782,-47.874682
14394,70055,brasilia,DF,-15.797782,-47.874682
14395,70056,brasilia,DF,-15.799446,-47.869285
14396,70057,brasilia,DF,-15.790439,-47.880655
14397,70059,brasilia,DF,-15.799446,-47.869285
14398,70064,brasilia,DF,-15.797782,-47.874682
14399,70065,brasilia,DF,-15.797782,-47.874682
14404,70074,brasilia,DF,-15.801638,-47.882476
14406,70078,brasilia,DF,-15.801638,-47.882476
16628,80002,curitiba,PR,-25.439563,-49.261963
16645,80231,curitiba,PR,-25.439563,-49.261963
18314,90001,porto alegre,RS,-30.028364,-51.230589
18315,90002,porto alegre,RS,-30.028364,-51.230589
18418,91501,porto alegre,RS,-30.076539,-51.124850
18419,91509,porto alegre,RS,-30.076539,-51.124850

In [57]:
# Define custom aggregation function to concatenate city values
def concatenate_cities(cities):
    return ' '.join(cities)

# Read your DataFrame cleaned_geolocation_mean if not already done
# cleaned_geolocation_mean = pd.read_csv('your_file.csv')

# Group by 'geolocation_zip_code_prefix' and 'geolocation_state'
grouped_df = cleaned_geolocation_mean.groupby(['geolocation_zip_code_prefix', 'geolocation_state']).agg({
    'geolocation_city': concatenate_cities,  # Concatenate city values
    'geolocation_lat': 'mean',  # Calculate mean of latitude
    'geolocation_lng': 'mean'   # Calculate mean of longitude
}).reset_index()

In [58]:

grouped_df

,geolocation_zip_code_prefix,geolocation_state,geolocation_city,geolocation_lat,geolocation_lng
0,1001,SP,sao paulo,-23.550271,-46.634047
1,1002,SP,sao paulo,-23.547657,-46.634991
2,1003,SP,sao paulo,-23.548991,-46.635653
3,1004,SP,sao paulo,-23.549829,-46.634792
4,1005,SP,sao paulo,-23.549487,-46.636650
...,...,...,...,...,...
19010,99960,RS,charrua,-27.953722,-52.025511
19011,99965,RS,agua santa,-28.183372,-52.039850
19012,99970,RS,ciriaco,-28.343920,-51.874988
19013,99980,RS,david canabarro,-28.389500,-51.843122
19014,99990,RS,muliterno,-28.329595,-51.769362

In [59]:

# Display the resulting DataFrame
grouped_df.tail(50)

,geolocation_zip_code_prefix,geolocation_state,geolocation_city,geolocation_lat,geolocation_lng
18965,99705,RS,erechim,-27.641982,-52.241396
18966,99706,RS,erechim,-27.649766,-52.249932
18967,99708,RS,erechim,-27.658286,-52.260998
18968,99709,RS,erechim,-27.649500,-52.273171
18969,99711,RS,erechim,-27.640183,-52.287202
18970,99712,RS,erechim,-27.638042,-52.311256
18971,99713,RS,erechim,-27.642130,-52.298491
18972,99714,RS,erechim,-27.652395,-52.299293
18973,99718,RS,paulo bento,-28.227614,-52.318943
18974,99720,RS,quatro irmaos,-27.819812,-52.445124
18975,99725,RS,tres arroios,-27.499564,-52.150166
18976,99730,RS,jacutinga,-27.728907,-52.536128
18977,99735,RS,ponte preta,-27.657056,-52.491544
18978,99740,RS,barao de cotegipe,-27.618986,-52.378476
18979,99750,RS,erval grande,-27.392379,-52.568854
18980,99760,RS,itatiba do sul,-27.383161,-52.456626
18981,99770,RS,aratiba,-27.393677,-52.301289
18982,99790,RS,mariano moro,-27.351152,-52.144949
18983,99795,RS,barra do rio azul,-27.410053,-52.413636
18984,99800,RS,marcelino ramos,-27.472161,-51.915700
18985,99810,RS,severiano de almeida,-27.431520,-52.116952
18986,99820,RS,viadutos,-27.570176,-52.021089
18987,99825,RS,carlos gomes,-27.715924,-51.914822
18988,99830,RS,gaurama,-27.586856,-52.092158
18989,99835,RS,aurea,-27.695565,-52.053764
18990,99838,RS,quarto centenario,-27.765793,-52.003719
18991,99839,RS,gaurama,-27.586950,-52.092478
18992,99840,RS,sananduva,-27.950113,-51.809262
18993,99850,RS,paim filho,-27.710137,-51.763305
18994,99855,RS,sao joao da urtiga,-27.898250,-52.008977
18995,99860,RS,cacique doble,-27.772357,-51.662317
18996,99870,RS,sao jose do ouro,-27.856498,-51.574899
18997,99878,RS,tupanci do sul,-27.922620,-51.538729
18998,99880,RS,machadinho,-27.567860,-51.668006
18999,99890,RS,maximiliano de almeida,-27.631779,-51.804664
19000,99895,RS,santo expedito do sul,-27.926560,-51.656632
19001,99900,RS,getulio vargas,-27.886978,-52.228570
19002,99910,RS,floriano peixoto,-27.857786,-52.070728
19003,99920,RS,erebango,-27.855254,-52.300906
19004,99925,RS,ipiranga do sul,-27.936842,-52.426937
19005,99930,RS,estacao,-27.913880,-52.258915
19006,99940,RS,ibiaca,-28.057109,-51.856476
19007,99950,RS,tapejara,-28.068768,-52.011820
19008,99952,RS,santa cecilia do sul,-28.171199,-51.908569
19009,99955,RS,vila langaro,-28.112686,-52.144697
19010,99960,RS,charrua,-27.953722,-52.025511
19011,99965,RS,agua santa,-28.183372,-52.039850
19012,99970,RS,ciriaco,-28.343920,-51.874988
19013,99980,RS,david canabarro,-28.389500,-51.843122
19014,99990,RS,muliterno,-28.329595,-51.769362

In [60]:
# Define custom aggregation function to concatenate city values
def concatenate_cities1(cities):
    return ' '.join(cities)

# Read your DataFrame cleaned_geolocation_mean if not already done
# cleaned_geolocation_mean = pd.read_csv('your_file.csv')

# Group by 'geolocation_zip_code_prefix' and 'geolocation_state'
grouped_duplicate_df = duplicate_rows.groupby(['geolocation_zip_code_prefix', 'geolocation_state']).agg({
    'geolocation_city': concatenate_cities1,  # Concatenate city values
   
}).reset_index()

# Display the resulting DataFrame
grouped_duplicate_df

,geolocation_zip_code_prefix,geolocation_state,geolocation_city
0,7097,SP,adamantina guarulhos
1,7786,SP,cajamar jordanesia
2,7787,SP,caieiras cajamar
3,7790,SP,caieiras cajamar
4,7792,SP,caieiras cajamar
...,...,...,...
416,89294,SC,campo alegre fragosos
417,95181,RS,jansen farroupilha
418,95272,RS,flores da cunha otavio rocha
419,96222,RS,quinta rio grande
420,96859,RS,santa cruz do sul monte alverne

In [61]:
grouped_df.tail()

,geolocation_zip_code_prefix,geolocation_state,geolocation_city,geolocation_lat,geolocation_lng
19010,99960,RS,charrua,-27.953722,-52.025511
19011,99965,RS,agua santa,-28.183372,-52.039850
19012,99970,RS,ciriaco,-28.343920,-51.874988
19013,99980,RS,david canabarro,-28.389500,-51.843122
19014,99990,RS,muliterno,-28.329595,-51.769362

87323,PR,campo mourao,-24.0461,-52.4208

In [62]:
new_row = {'geolocation_zip_code_prefix': 87323,
           'geolocation_state': 'PR',
           'geolocation_city': 'campo mourao',
           'geolocation_lat': -24.0461,
           'geolocation_lng': -52.4208}

new_row_df = pd.DataFrame([new_row])

# Concatenate the new row DataFrame with the existing DataFrame
grouped_df = pd.concat([grouped_df, new_row_df], ignore_index=True)

In [63]:
grouped_df.info()
print(grouped_df.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19016 entries, 0 to 19015
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19016 non-null  int64
 1   geolocation_state            19016 non-null  object
 2   geolocation_city             19016 non-null  object
 3   geolocation_lat              19016 non-null  float64
 4   geolocation_lng              19016 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 742.9+ KB
geolocation_zip_code_prefix    19016
geolocation_state                 27
geolocation_city                5910
geolocation_lat                19002
geolocation_lng                19002
dtype: int64

In [64]:
grouped_df_bol= grouped_df['geolocation_zip_code_prefix'].duplicated(keep = False)
duplicates_grouped= grouped_df[grouped_df_bol]
duplicates_grouped

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_state, geolocation_city, geolocation_lat, geolocation_lng]
Index: []

In [53]:
# Define the file path where you want to save the CSV file
csv_file_path = "C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data/cleaned_geolocation.csv"
# Convert the DataFrame to a CSV file
grouped_df.to_csv(csv_file_path, index= False)

# Confirmation message
print("DataFrame converted to CSV successfully.")

DataFrame converted to CSV successfully.

"C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data/cleaned_geolocation.csv"

In [54]:
import pandas as pd
from sqlalchemy import create_engine, VARCHAR, TIMESTAMP, MetaData, text
import os

# Define the folder path
folder_path = 'C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data'

# List all files in the folder
files = os.listdir(folder_path)

# Filter out only CSV files
csv_files = [file for file in files if file.endswith('.csv')]
######db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'
# Connect to PostgreSQL database
engine = create_engine('postgresql://postgres:rosni@localhost:5432/olist_db')

# Initialize metadata without binding to the engine
metadata = MetaData()

# Reflect all tables in the database
metadata.reflect(bind=engine)

# Read and upload each CSV file
for file in csv_files:
    # Check if file is empty
    file_path = os.path.join(folder_path, file)
    if os.path.getsize(file_path) == 0:
        print(f"Skipping empty file: {file}")
        continue
    
    # Read CSV into DataFrame
    df = pd.read_csv(file_path)
    
    # Define table name without 'cleaned_'
    table_name = file.split('.')[0].replace('cleaned_', '') + '_tbl'
    
    # Upload DataFrame to database
    df.to_sql(table_name, engine, if_exists='replace', index=False)

    # Reflect the newly created table
    table = metadata.tables.get(table_name)

    # Check if the table is 'orders_reviews_tbl'
    if table_name == 'orders_reviews_tbl':
        # Define composite primary key
        primary_key = 'review_id, order_id'

        # Create primary key constraint for composite key
        primary_key_constraint = text(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({primary_key})")

        # Execute the primary key constraint query
        with engine.connect() as conn:
            conn.execute(primary_key_constraint)

    # Check if the table has a datetime column
    if any(df.dtypes == 'datetime64[ns]'):
        # Loop through columns to change datetime to timestamp
        for column in table.columns:
            if str(column.type) == 'DATETIME':
                column.type = TIMESTAMP()

# Close the connection
engine.dispose()

print("All CSV files uploaded successfully to PostgreSQL database with modified table names and data types.")

C:\Users\Ros\AppData\Local\Temp\ipykernel_8856\108170359.py:32: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

All CSV files uploaded successfully to PostgreSQL database with modified table names and data types.

In [19]:
import pandas as pd
state_name = pd.read_csv("C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data/cleaned_sellers.csv").drop(['seller_id', 'seller_zip_code_prefix','seller_city'], axis = 1)
state_name= state_name.drop_duplicates()
state_name=state_name.sort_values(by='seller_state')
state_name.reset_index(drop=True,inplace= True)
state_name

   seller_state seller_state_fullname
0            AC                  Acre
1            AM              Amazonas
2            BA                 Bahia
3            CE                 Ceara
4            DF      Distrito Federal
5            ES        Espirito Santo
6            GO                 Goias
7            MA              Maranhao
8            MG          Minas Gerais
9            MS    Mato Grosso do Sul
10           MT           Mato Grosso
11           PA                  Para
12           PB               Paraiba
13           PE            Pernambuco
14           PI                 Piaui
15           PR                Parana
16           RJ        Rio de Janeiro
17           RN   Rio Grande do Norte
18           RO              Rondonia
19           RS     Rio Grande do Sul
20           SC        Santa Catarina
21           SE               Sergipe
22           SP             Sao Paulo

In [67]:
state_name_geo = pd.read_csv("C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data/cleaned_geolocation.csv").drop(['geolocation_zip_code_prefix','geolocation_city','geolocation_lat','geolocation_lng'], axis = 1)
state_name_geo= state_name_geo.drop_duplicates()
state_name_geo=state_name_geo.sort_values(by='geolocation_state')
state_name_geo.reset_index(drop=True,inplace= True)
state_name_geo

   geolocation_state
0                 AC
1                 AL
2                 AM
3                 AP
4                 BA
5                 CE
6                 DF
7                 ES
8                 GO
9                 MA
10                MG
11                MS
12                MT
13                PA
14                PB
15                PE
16                PI
17                PR
18                RJ
19                RN
20                RO
21                RR
22                RS
23                SC
24                SE
25                SP
26                TO