In [72]:
import pandas as pd

cleaned_geolocation = pd.read_csv("C:/Users/Ros/Documents/GitHub/tp_final_proj/cleaned_geolocation.csv")
cleaned_geolocation
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('õ','o', case=False)


cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sant'ana do livramento","santana do livramento", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("barra do quarai","barrado quarai", case=False)

In [62]:
#cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('embu','embu das artes', case=False)

In [74]:
cleaned_geolocation= cleaned_geolocation.drop(columns=['id_geo'])
cleaned_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,75345,-16.758001,-49.435440,abadia de goias,GO
1,75345,-16.767623,-49.426674,abadia de goias,GO
2,75345,-16.789539,-49.469430,abadia de goias,GO
3,75345,-16.756821,-49.435020,abadia de goias,GO
4,75345,-16.766377,-49.437467,abadia de goias,GO
...,...,...,...,...,...
720474,89633,-27.454885,-51.549254,zortea,SC
720475,89633,-27.454065,-51.554470,zortea,SC
720476,89633,-27.458106,-51.553812,zortea,SC
720477,89633,-27.454790,-51.550597,zortea,SC
720478,89633,-27.454807,-51.550569,zortea,SC

In [ ]:
# Define the file path where you want to save the CSV file
csv_file_path = "C:/Users/Ros/Desktop/JDC/finalproject/cleaned_geolocation.csv"

# Convert the DataFrame to a CSV file
cleaned_geolocation.to_csv(csv_file_path, index= True)

# Confirmation message
print("DataFrame converted to CSV successfully.")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, VARCHAR, TIMESTAMP, MetaData, text
import os

# Define the folder path
folder_path = 'clean_data/'

# List all files in the folder
files = os.listdir(folder_path)

# Filter out only CSV files
csv_files = [file for file in files if file.endswith('.csv')]

# Connect to PostgreSQL database
engine = create_engine('postgresql://postgres:123@localhost:5432/olist_db5')

# Initialize metadata without binding to the engine
metadata = MetaData()

# Reflect all tables in the database
metadata.reflect(bind=engine)

# Read and upload each CSV file
for file in csv_files:
    # Check if file is empty
    file_path = os.path.join(folder_path, file)
    if os.path.getsize(file_path) == 0:
        print(f"Skipping empty file: {file}")
        continue
    
    # Read CSV into DataFrame
    df = pd.read_csv(file_path)
    
    # Define table name without 'cleaned_'
    table_name = file.split('.')[0].replace('cleaned_', '') + '_tbl'
    
    # Upload DataFrame to database
    df.to_sql(table_name, engine, if_exists='replace', index=False)

    # Reflect the newly created table
    table = metadata.tables.get(table_name)

    # Check if the table is 'orders_reviews_tbl'
    if table_name == 'orders_reviews_tbl':
        # Define composite primary key
        primary_key = 'review_id, order_id'

        # Create primary key constraint for composite key
        primary_key_constraint = text(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({primary_key})")

        # Execute the primary key constraint query
        with engine.connect() as conn:
            conn.execute(primary_key_constraint)

    # Check if the table has a datetime column
    if any(df.dtypes == 'datetime64[ns]'):
        # Loop through columns to change datetime to timestamp
        for column in table.columns:
            if str(column.type) == 'DATETIME':
                column.type = TIMESTAMP()

# Close the connection
engine.dispose()

print("All CSV files uploaded successfully to PostgreSQL database with modified table names and data types.")

In [63]:
#cleaned_geolocation_df =cleaned_geolocation.groupby(['geolocation_zip_code_prefix','geolocation_city','geolocation_state']).agg({'geolocation_lat': 'mean','geolocation_lng':'mean'}).reset_index()
#cleaned_geolocation_df.head(50)

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
5,1006,sao paulo,SP,-23.550127,-46.636044
6,1007,sao paulo,SP,-23.549953,-46.637155
7,1008,sao paulo,SP,-23.545832,-46.635775
8,1009,sao paulo,SP,-23.546823,-46.636461
9,1010,sao paulo,SP,-23.546439,-46.635260
10,1011,sao paulo,SP,-23.546636,-46.635418
11,1012,sao paulo,SP,-23.547808,-46.634844
12,1013,sao paulo,SP,-23.547174,-46.634235
13,1014,sao paulo,SP,-23.546137,-46.633597
14,1015,sao paulo,SP,-23.547453,-46.632180
15,1016,sao paulo,SP,-23.549095,-46.632112
16,1017,sao paulo,SP,-23.549456,-46.631303
17,1018,sao paulo,SP,-23.551354,-46.632762
18,1019,sao paulo,SP,-23.551780,-46.630784
19,1020,sao paulo,SP,-23.552212,-46.629745
20,1021,sao paulo,SP,-23.542761,-46.632069
21,1022,sao paulo,SP,-23.544781,-46.632063
22,1023,sao paulo,SP,-23.542477,-46.631396
23,1024,sao paulo,SP,-23.541292,-46.629874
24,1025,sao paulo,SP,-23.540303,-46.631087
25,1026,sao paulo,SP,-23.539639,-46.632224
26,1027,sao paulo,SP,-23.538099,-46.630471
27,1028,sao paulo,SP,-23.535908,-46.633671
28,1029,sao paulo,SP,-23.540574,-46.633129
29,1030,sao paulo,SP,-23.540537,-46.633070
30,1031,sao paulo,SP,-23.541358,-46.634942
31,1032,sao paulo,SP,-23.539907,-46.635101
32,1033,sao paulo,SP,-23.538937,-46.636000
33,1034,sao paulo,SP,-23.542551,-46.637319
34,1035,sao paulo,SP,-23.541772,-46.641307
35,1036,sao paulo,SP,-23.541905,-46.640962
36,1037,sao paulo,SP,-23.545497,-46.639136
37,1038,sao paulo,SP,-23.543879,-46.639954
38,1039,sao paulo,SP,-23.541342,-46.639090
39,1040,sao paulo,SP,-23.541310,-46.638710
40,1041,sao paulo,SP,-23.544053,-46.639868
41,1042,sao paulo,SP,-23.544724,-46.640616
42,1043,sao paulo,SP,-23.545752,-46.641481
43,1044,sao paulo,SP,-23.545557,-46.641501
44,1045,sao paulo,SP,-23.542450,-46.642711
45,1046,sao paulo,SP,-23.545839,-46.643722
46,1047,sao paulo,SP,-23.546094,-46.640949
47,1048,sao paulo,SP,-23.547043,-46.639772
48,1049,sao paulo,SP,-23.547460,-46.639582
49,1050,sao paulo,SP,-23.549184,-46.643050

In [64]:
#cleaned_geolocation_df[cleaned_geolocation_df['geolocation_city'].isin(['embu das artes','embu'])]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
3391,6803,embu,SP,-23.648732,-46.848878
3392,6803,embu das artes,SP,-23.648980,-46.849039
3393,6804,embu,SP,-23.644303,-46.850476
3394,6804,embu das artes,SP,-23.644240,-46.850961
3395,6805,embu,SP,-23.635747,-46.852315
3396,6805,embu das artes,SP,-23.633156,-46.849695
3397,6806,embu,SP,-23.634373,-46.838658
3398,6806,embu das artes,SP,-23.636105,-46.838559
3399,6807,embu,SP,-23.626950,-46.822645
3400,6807,embu das artes,SP,-23.627274,-46.823644
3401,6810,embu,SP,-23.647586,-46.801321
3402,6810,embu das artes,SP,-23.647029,-46.801198
3403,6813,embu,SP,-23.653045,-46.807180
3404,6813,embu das artes,SP,-23.651099,-46.804951
3405,6814,embu,SP,-23.659435,-46.814777
3406,6814,embu das artes,SP,-23.660065,-46.814541
3407,6815,embu,SP,-23.653064,-46.815655
3408,6815,embu das artes,SP,-23.653227,-46.814465
3409,6816,embu,SP,-23.645582,-46.822302
3410,6816,embu das artes,SP,-23.644605,-46.819110
3411,6817,embu,SP,-23.640047,-46.830147
3412,6817,embu das artes,SP,-23.632178,-46.816772
3413,6818,embu das artes,SP,-23.642048,-46.837526
3414,6820,embu,SP,-23.660014,-46.797098
3415,6820,embu das artes,SP,-23.659135,-46.796585
3416,6823,embu,SP,-23.669572,-46.802767
3417,6823,embu das artes,SP,-23.669844,-46.801771
3418,6824,embu,SP,-23.677319,-46.804702
3419,6824,embu das artes,SP,-23.676308,-46.804755
3420,6825,embu,SP,-23.666151,-46.808812
3421,6825,embu das artes,SP,-23.666813,-46.810690
3422,6826,embu,SP,-23.660106,-46.802302
3423,6826,embu das artes,SP,-23.659370,-46.801689
3424,6830,embu das artes,SP,-23.646785,-46.842171
3425,6833,embu,SP,-23.654837,-46.844128
3426,6833,embu das artes,SP,-23.656695,-46.844368
3427,6835,embu,SP,-23.676661,-46.848989
3428,6835,embu das artes,SP,-23.676674,-46.851438
3429,6840,embu,SP,-23.651314,-46.860720
3430,6840,embu das artes,SP,-23.649059,-46.862138
3431,6843,embu,SP,-23.665381,-46.862901
3432,6843,embu das artes,SP,-23.666856,-46.862147
3433,6844,embu,SP,-23.656777,-46.875700
3434,6844,embu das artes,SP,-23.663065,-46.883730
3435,6845,embu,SP,-23.646480,-46.898649
3436,6845,embu das artes,SP,-23.641071,-46.893295
3437,6846,embu,SP,-23.635752,-46.871879
3438,6846,embu das artes,SP,-23.635672,-46.872695

In [65]:
##cleaned_geolocation_df = cleaned_geolocation_df.sort_values(by='geolocation_zip_code_prefix')
##cleaned_geolocation_df.info()
##print(cleaned_geolocation_df.nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 19584 entries, 0 to 19583
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19584 non-null  int64
 1   geolocation_city             19584 non-null  object
 2   geolocation_state            19584 non-null  object
 3   geolocation_lat              19584 non-null  float64
 4   geolocation_lng              19584 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 918.0+ KB
geolocation_zip_code_prefix    19015
geolocation_city                5948
geolocation_state                 27
geolocation_lat                19568
geolocation_lng                19568
dtype: int64

In [66]:
if len(cleaned_geolocation_df) == len(cleaned_geolocation_df.drop_duplicates()):
    print("Dataframe doesn't have duplicates")
else:
    print("The dataframe contains duplicates")

Dataframe doesn't have duplicates

duplicates= geolocation_df.duplicated()
dupe_df = geolocation_df[duplicates]
dupe_df ####this willprint the duplicate rows in geolocation_df

In [67]:
##g1=cleaned_geolocation_df[['geolocation_zip_code_prefix','geolocation_city','geolocation_state']]
##duplicates= g1['geolocation_zip_code_prefix'].duplicated()
##duplicate_zip= g1[duplicates]

       geolocation_zip_code_prefix   geolocation_city geolocation_state
160                           1307          sao paulo                SP
369                           2116          sao paulo                SP
1097                          3203          sao paulo                SP
1665                          4004    taboao da serra                SP
1672                          4011          sao paulo                AC
...                            ...                ...               ...
18889                        95181             jansen                RS
18905                        95272       otavio rocha                RS
18951                        95588          xangri la                RS
19121                        96222         rio grande                RS
19204                        96859  santa cruz do sul                RS

[569 rows x 3 columns]

In [69]:
##duplicate_rows= g1[g1.duplicated(subset=['geolocation_zip_code_prefix'], keep= False)]
##print("INDEX NUMBER:")
##print(duplicate_rows.index.tolist())
##duplicate_rows

INDEX NUMBER:
[159, 160, 368, 369, 1096, 1097, 1664, 1665, 1673, 1672, 2676, 2675, 3082, 3083, 3391, 3392, 3394, 3393, 3395, 3396, 3397, 3398, 3399, 3400, 3402, 3401, 3404, 3403, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3423, 3422, 3425, 3426, 3427, 3428, 3429, 3430, 3432, 3431, 3433, 3434, 3435, 3436, 3437, 3438, 3529, 3530, 3549, 3550, 3570, 3571, 3677, 3678, 3679, 3680, 3684, 3685, 3686, 3687, 3691, 3690, 3693, 3694, 3695, 3696, 3944, 3945, 4041, 4042, 4216, 4215, 4316, 4317, 4318, 4508, 4509, 4512, 4511, 4517, 4518, 4521, 4520, 4523, 4524, 4527, 4528, 4530, 4529, 4630, 4631, 4671, 4672, 5040, 5041, 5042, 5078, 5079, 5117, 5118, 5119, 5120, 5121, 5125, 5124, 5123, 5126, 5127, 5128, 5129, 5130, 5131, 5132, 5135, 5133, 5134, 5136, 5137, 5138, 5139, 5140, 5272, 5273, 5288, 5289, 5312, 5313, 5385, 5386, 5432, 5433, 5485, 5486, 5690, 5691, 5692, 5709, 5707, 5708, 5711, 5712, 5713, 5728, 5726, 5727, 5729, 5730, 5775, 5774, 5816, 5817, 5818, 5819, 5820, 5821, 5823, 5822, 5824, 5825, 5828, 5829, 5932, 5933, 5957, 5956, 5976, 5977, 6063, 6064, 6065, 6066, 6177, 6176, 6186, 6185, 6262, 6261, 6292, 6293, 6316, 6317, 6361, 6362, 6377, 6378, 6428, 6429, 6432, 6433, 6435, 6436, 6558, 6557, 6594, 6595, 6618, 6619, 6719, 6720, 6810, 6811, 6827, 6826, 6884, 6883, 6885, 6886, 6887, 6888, 6893, 6894, 6932, 6933, 6934, 6935, 7085, 7084, 7096, 7097, 7098, 7099, 7253, 7254, 7258, 7259, 7262, 7263, 7273, 7274, 7279, 7280, 7288, 7289, 7290, 7291, 7295, 7294, 7296, 7297, 7298, 7506, 7507, 7535, 7534, 7538, 7539, 7542, 7543, 7555, 7556, 7558, 7559, 7560, 7562, 7561, 7635, 7636, 7660, 7661, 7664, 7665, 7669, 7668, 7670, 7671, 7672, 7673, 7679, 7678, 7716, 7717, 7729, 7730, 7749, 7750, 7751, 7752, 7754, 7755, 7759, 7760, 7769, 7770, 7773, 7772, 7790, 7791, 7805, 7806, 7809, 7810, 7812, 7813, 7835, 7836, 7837, 7838, 7841, 7842, 7850, 7851, 7880, 7881, 7893, 7894, 7895, 7898, 7899, 7903, 7904, 7905, 7907, 7906, 7909, 7910, 7985, 7986, 8034, 8035, 8070, 8069, 8071, 8072, 8096, 8097, 8104, 8105, 8110, 8111, 8147, 8146, 8148, 8149, 8176, 8177, 8185, 8184, 8202, 8203, 8235, 8236, 8397, 8398, 8400, 8401, 8497, 8498, 8703, 8704, 8707, 8708, 8743, 8744, 8765, 8766, 8798, 8797, 8808, 8807, 8817, 8816, 8818, 8819, 8834, 8833, 8847, 8848, 8849, 8865, 8864, 8874, 8873, 8876, 8877, 8878, 8879, 8893, 8892, 8894, 8895, 8896, 8897, 8898, 8899, 8901, 8900, 8903, 8902, 8914, 8915, 8927, 8928, 8964, 8965, 9021, 9022, 9032, 9033, 9088, 9089, 9106, 9107, 9185, 9186, 9187, 9189, 9188, 9208, 9207, 9222, 9223, 9265, 9264, 9293, 9292, 9294, 9295, 9360, 9359, 9382, 9383, 9385, 9386, 9449, 9450, 9469, 9470, 9561, 9560, 9574, 9575, 9576, 9577, 9579, 9578, 9580, 9581, 9582, 9583, 9611, 9612, 9631, 9632, 9663, 9664, 9723, 9722, 9760, 9761, 9759, 9800, 9799, 9853, 9854, 9863, 9864, 9865, 9871, 9872, 9873, 9874, 9887, 9888, 9905, 9904, 9969, 9970, 9981, 9980, 9990, 9989, 10020, 10019, 10050, 10051, 10118, 10119, 10141, 10142, 10490, 10491, 10492, 10495, 10496, 10498, 10497, 10499, 10500, 10501, 10503, 10504, 10505, 10515, 10516, 10633, 10634, 10737, 10736, 10797, 10798, 10828, 10829, 10865, 10866, 10867, 10868, 10869, 10894, 10895, 10899, 10900, 10897, 10898, 10916, 10917, 10997, 10998, 11013, 11014, 11019, 11020, 11024, 11023, 11105, 11106, 11144, 11145, 11550, 11551, 11589, 11590, 11592, 11593, 11612, 11613, 11627, 11626, 11746, 11747, 11750, 11749, 11803, 11804, 11888, 11889, 11923, 11924, 11926, 11927, 11943, 11944, 12006, 12007, 12011, 12012, 12037, 12038, 12047, 12048, 12056, 12055, 12189, 12188, 12190, 12191, 12192, 12193, 12194, 12195, 12199, 12200, 12256, 12257, 12316, 12317, 12318, 12319, 12320, 12321, 12324, 12323, 12325, 12326, 12327, 12328, 12332, 12331, 12336, 12337, 12556, 12557, 12655, 12656, 12703, 12704, 12994, 12993, 13070, 13069, 13081, 13082, 13084, 13085, 13120, 13121, 13129, 13130, 13282, 13283, 13827, 13826, 13825, 13849, 13850, 13904, 13905, 13906, 13907, 13913, 13914, 14046, 14045, 14068, 14069, 14097, 14098, 14099, 14100, 14133, 14132, 14146, 14147, 14166, 14167, 14193, 14194, 14198, 14197, 14230, 14231, 14266, 14265, 14421, 14422, 14463, 14464, 14467, 14466, 14604, 14605, 14606, 14607, 14608, 14609, 14611, 14610, 14612, 14613, 14614, 14615, 14617, 14618, 14620, 14619, 14621, 14622, 14707, 14708, 14709, 14710, 14711, 14712, 14714, 14713, 14716, 14717, 14718, 14719, 14722, 14723, 14729, 14730, 14731, 14732, 14734, 14733, 14735, 14736, 14740, 14741, 14744, 14745, 14748, 14749, 14750, 14751, 14753, 14752, 14755, 14756, 14757, 14758, 14759, 14760, 14763, 14762, 14764, 14765, 14766, 14767, 14771, 14770, 14772, 14773, 14774, 14775, 14776, 14777, 14779, 14778, 14782, 14781, 14783, 14784, 14788, 14789, 14792, 14793, 14794, 14795, 14796, 14797, 14802, 14801, 14805, 14806, 14808, 14809, 14813, 14814, 14816, 14817, 14819, 14818, 14823, 14824, 14827, 14828, 14829, 14830, 14831, 14832, 14835, 14834, 14838, 14837, 14841, 14842, 14843, 14844, 14845, 14846, 14852, 14853, 14854, 14855, 14856, 14857, 14860, 14859, 14861, 14862, 14891, 14892, 14893, 14894, 14895, 14896, 14899, 14900, 14902, 14903, 14904, 14905, 14907, 14906, 14908, 14909, 14910, 14911, 14913, 14914, 14917, 14916, 14918, 14919, 14921, 14922, 14924, 14925, 14930, 14931, 14932, 14933, 14934, 14935, 14937, 14936, 14939, 14940, 14941, 14942, 14943, 14944, 14947, 14946, 14948, 14949, 14951, 14952, 14957, 14958, 14959, 14961, 14962, 14964, 14963, 14966, 14967, 14969, 14970, 14972, 14973, 14977, 14978, 14984, 14985, 14986, 14987, 14988, 14989, 14994, 14995, 14996, 14997, 14998, 14999, 15002, 15001, 15004, 15005, 15006, 15007, 15009, 15008, 15012, 15013, 15017, 15018, 15021, 15022, 15023, 15024, 15025, 15026, 15031, 15030, 15032, 15033, 15036, 15037, 15039, 15038, 15041, 15042, 15043, 15044, 15047, 15046, 15049, 15048, 15053, 15054, 15065, 15066, 15067, 15068, 15070, 15071, 15072, 15073, 15133, 15134, 15148, 15149, 15151, 15152, 15155, 15154, 15157, 15158, 15159, 15160, 15161, 15162, 15165, 15164, 15167, 15168, 15169, 15170, 15171, 15172, 15176, 15177, 15179, 15180, 15181, 15182, 15184, 15183, 15188, 15189, 15193, 15192, 15201, 15200, 15206, 15207, 15214, 15215, 15217, 15218, 15224, 15222, 15223, 15646, 15647, 15671, 15670, 15711, 15712, 15792, 15793, 15808, 15809, 15863, 15864, 15884, 15885, 15953, 15954, 15955, 15956, 15958, 15957, 15959, 15960, 15971, 15972, 15973, 16007, 16006, 16014, 16015, 16017, 16016, 16018, 16019, 16021, 16022, 16023, 16027, 16028, 16034, 16033, 16046, 16047, 16322, 16323, 16332, 16333, 16334, 16335, 16336, 16337, 16342, 16340, 16341, 16364, 16365, 16401, 16402, 16443, 16444, 16486, 16487, 16671, 16672, 16674, 16675, 16783, 16784, 16822, 16823, 16983, 16984, 17046, 17047, 17194, 17195, 17196, 17267, 17268, 17266, 17270, 17271, 17298, 17299, 17307, 17306, 17368, 17369, 17581, 17582, 17584, 17583, 17658, 17659, 17680, 17679, 17712, 17713, 17718, 17719, 17796, 17797, 17834, 17835, 17837, 17838, 17883, 17884, 17914, 17915, 17942, 17943, 17944, 17945, 17950, 17951, 17978, 17979, 18057, 18058, 18067, 18068, 18079, 18080, 18152, 18153, 18168, 18167, 18270, 18271, 18315, 18316, 18317, 18318, 18519, 18520, 18888, 18889, 18904, 18905, 18952, 18951, 19120, 19121, 19203, 19204]

       geolocation_zip_code_prefix       geolocation_city geolocation_state
159                           1307  sao bernardo do campo                SP
160                           1307              sao paulo                SP
368                           2116              sao paulo                RN
369                           2116              sao paulo                SP
1096                          3203                jundiai                SP
...                            ...                    ...               ...
18951                        95588              xangri la                RS
19120                        96222                 quinta                RS
19121                        96222             rio grande                RS
19203                        96859          monte alverne                RS
19204                        96859      santa cruz do sul                RS

[1095 rows x 3 columns]