In [116]:
import pandas as pd

cleaned_geolocation = pd.read_csv("C:/Users/Ros/Documents/GitHub/tp_final_proj/cleaned_geolocation.csv")
cleaned_geolocation
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('õ','o', case=False)


cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sant'ana do livramento","santana do livramento", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("barra do quarai","barrado quarai", case=False)

cleaned_geolocation= cleaned_geolocation.drop(columns=['id_geo'])

In [117]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('embu das artes','embu', case=False)

In [118]:
# Apply a lambda function to the column for replacements
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].apply(lambda x: x.replace("d’oeste", "d oeste", -1).replace("d’ oeste", "d oeste", -1).replace("doeste", "d oeste", -1))

In [119]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval d' oeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval d'oeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("herval doeste","herval d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("ü","u", case=False)

In [120]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('florian&oacute;polis','florianopolis', case=False)

xangrila >> xangri la, diamante d'oeste >> diamante d oeste ,porto aelgre >> porto alegre, picarras >>balneario picarras

In [121]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rancho alegre d'oeste","rancho alegre d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("xangrila","xangri la", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("diamante d'oeste","diamante d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("porto aelgre","porto alegre", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("picarras","balneario picarras", case=False)

In [122]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace('embu','embu das artes', case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("balneario camboriu","camboriu", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("quarto centenario","centenario", case=False)

camboriu>> balneario camboriu	, centenario>> quarto centenario

In [123]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("camboriu","balneario camboriu", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("centenario","quarto centenario", case=False)

In [124]:

cleaned_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,75345,-16.758001,-49.435440,abadia de goias,GO
1,75345,-16.767623,-49.426674,abadia de goias,GO
2,75345,-16.789539,-49.469430,abadia de goias,GO
3,75345,-16.756821,-49.435020,abadia de goias,GO
4,75345,-16.766377,-49.437467,abadia de goias,GO
...,...,...,...,...,...
720474,89633,-27.454885,-51.549254,zortea,SC
720475,89633,-27.454065,-51.554470,zortea,SC
720476,89633,-27.458106,-51.553812,zortea,SC
720477,89633,-27.454790,-51.550597,zortea,SC
720478,89633,-27.454807,-51.550569,zortea,SC

In [ ]:
# Define the file path where you want to save the CSV file
csv_file_path = "C:/Users/Ros/Desktop/JDC/finalproject/cleaned_geolocation.csv"

# Convert the DataFrame to a CSV file
cleaned_geolocation.to_csv(csv_file_path, index= True)

# Confirmation message
print("DataFrame converted to CSV successfully.")

In [10]:
import pandas as pd
from sqlalchemy import create_engine, VARCHAR, TIMESTAMP, MetaData, text
import os

# Define the folder path
folder_path = 'C:/Users/Ros/Desktop/JDC/CLEAN DATA/clean_data'

# List all files in the folder
files = os.listdir(folder_path)

# Filter out only CSV files
csv_files = [file for file in files if file.endswith('.csv')]
######db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'
# Connect to PostgreSQL database
engine = create_engine('postgresql://postgres:rosni@localhost:5432/olist_db')

# Initialize metadata without binding to the engine
metadata = MetaData()

# Reflect all tables in the database
metadata.reflect(bind=engine)

# Read and upload each CSV file
for file in csv_files:
    # Check if file is empty
    file_path = os.path.join(folder_path, file)
    if os.path.getsize(file_path) == 0:
        print(f"Skipping empty file: {file}")
        continue
    
    # Read CSV into DataFrame
    df = pd.read_csv(file_path)
    
    # Define table name without 'cleaned_'
    table_name = file.split('.')[0].replace('cleaned_', '') + '_tbl'
    
    # Upload DataFrame to database
    df.to_sql(table_name, engine, if_exists='replace', index=False)

    # Reflect the newly created table
    table = metadata.tables.get(table_name)

    # Check if the table is 'orders_reviews_tbl'
    if table_name == 'orders_reviews_tbl':
        # Define composite primary key
        primary_key = 'review_id, order_id'

        # Create primary key constraint for composite key
        primary_key_constraint = text(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({primary_key})")

        # Execute the primary key constraint query
        with engine.connect() as conn:
            conn.execute(primary_key_constraint)

    # Check if the table has a datetime column
    if any(df.dtypes == 'datetime64[ns]'):
        # Loop through columns to change datetime to timestamp
        for column in table.columns:
            if str(column.type) == 'DATETIME':
                column.type = TIMESTAMP()

# Close the connection
engine.dispose()

print("All CSV files uploaded successfully to PostgreSQL database with modified table names and data types.")

C:\Users\Ros\AppData\Local\Temp\ipykernel_772\108170359.py:32: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

All CSV files uploaded successfully to PostgreSQL database with modified table names and data types.

In [249]:
# Apply the replace() method to replace variations
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao jorge d'oeste", "sao jorge d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao jorge do oeste", "sao jorge d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itapejara d'oeste", "itapejara d oeste", case=False)

In [250]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("perola d'oeste", "perola d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("balneario balneario picarras", "balneario picarras", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao bernardo do campo", "sao bernardo do campo", case=False)

In [251]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("mogidascruzes", "mogi das cruzes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao bernardo do campo", "sao bernardo do campo", case=False)

santa barbara d'oeste	,jacare (cabreuva), sao luis do paraitinga, santa barbara d`oeste

In [252]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa barbara d'oeste", "santa barbara d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("jacare (cabreuva)", "jacare", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao luis do paraitinga", "sao luiz do paraitinga", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa barbara d`oeste", "santa barbara d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("d`", "d ", case=False)

estrela d'oeste

In [253]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("estrela d'oeste", "estrela d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("palmeira d'oeste", "palmeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("aparecida d'oeste", "aparecida d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa rita d'oeste", "santa rita d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa clara d'oeste", "santa clara d oeste", case=False)

In [254]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau d%26apos%3balho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau d'alho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao joao do pau dalho", "sao joao do pau d alho", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rio de janeiro, rio de janeiro, brasil", "rio de janeiro", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("rj", "rio de janeiro", case=False)

In [255]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_city'] == 'sao paulo', 'geolocation_state'] = 'SP'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_city'] == 'rio de janeiro', 'geolocation_state'] = 'RJ'

5372,guarulhos

In [256]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 1307, 'geolocation_city'] = 'sao paulo'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 5372, 'geolocation_city'] = 'sao paulo'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 6050, 'geolocation_city'] = 'osasco'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7079, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7141, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7174, 'geolocation_city'] = 'guarulhos'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7770, 'geolocation_city'] = 'cajamar'
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 7776, 'geolocation_city'] = 'cajamar'

In [257]:
cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 3203, 'geolocation_city'] = 'sao paulo'

cleaned_geolocation.loc[cleaned_geolocation['geolocation_zip_code_prefix'] == 4004, 'geolocation_city'] = 'sao paulo'

bacaxa (saquarema) distrito,tamoios (cabo frio),penedo (itatiaia),california da barra (barra do pirai)

In [258]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("bacaxa (saquarema) distrito", "saquarema", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("tamoios (cabo frio)", "cabo frio", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("penedo (itatiaia)", "penedo", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("california da barra (barra do pirai)", "california da barra", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("campos dos goytacaze", "campos dos goytacazes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("goitacazes", "campos dos goytacazes", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("armacao dos buzios", "buzios", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("armacao de buzios", "buzios", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("praia grande (fundao) distrito", "praia grande", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("venda nova do imigrante es", "venda nova do imigrante", case=False)

In [259]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("sao roque do cannaa", "sao roque do canaa", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("linharesl", "linhares", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("belo horizonta", "belo horizonte", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("bh", "belo horizonte", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("pingo d'agua", "pingo d agua", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("antunes (igaratinga)", "antunes", case=False)

realeza (manhuacu),maceiaÂ³,lambari d%26apos%3boeste

In [260]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("realeza (manhuacu)", "realeza", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("brasopolis", "brazopolis", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lavras mg", "lavras", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("piumhii", "piumhi", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("limeira do oeste mg", "limeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("limeira do oeste", "limeira d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("gouvea", "gouveia", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olhos d'agua", "olhos d agua", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("monte gordo (camacari) distrito", "gmonte gordo", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("dias davila", "dias d avila", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("dias d'avila", "dias d avila", case=False)

In [261]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("santa teresinha", "santa terezinha", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("arraial d'ajuda", "arraial d ajuda", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itabata", "itabatan", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("itabatan (mucuri)", "itabatan", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("muquem de sao francisco", "muquem do sao francisco", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("campo alegre de lourdes, bahia, brasil", "campo alegre de lourdes", case=False)

In [262]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("maceiaÂ³", "maceio", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua grande", "olho dagua grande", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua do borges", "olho d agua do borges", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho d'agua das cunhas", "olho d agua das cunhas", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("olho dagua das cunhas", "olho d agua das cunhas", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("buritirana", "buritirama", case=False)

In [263]:
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lambari d%26apos%3boeste", "lambari d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("lambari d'oeste", "lambari d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("figueiropolis d'oeste", "figueiropolis d oeste", case=False)
cleaned_geolocation['geolocation_city'] = cleaned_geolocation['geolocation_city'].str.replace("mirassol d'oeste", "mirassol d oeste", case=False)

In [264]:
cleaned_geolocation_mean =cleaned_geolocation.groupby(['geolocation_zip_code_prefix','geolocation_city','geolocation_state']).agg({'geolocation_lat': 'mean','geolocation_lng':'mean'}).reset_index()
cleaned_geolocation_mean.head(50)

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
5,1006,sao paulo,SP,-23.550127,-46.636044
6,1007,sao paulo,SP,-23.549953,-46.637155
7,1008,sao paulo,SP,-23.545832,-46.635775
8,1009,sao paulo,SP,-23.546823,-46.636461
9,1010,sao paulo,SP,-23.546439,-46.635260
10,1011,sao paulo,SP,-23.546636,-46.635418
11,1012,sao paulo,SP,-23.547808,-46.634844
12,1013,sao paulo,SP,-23.547174,-46.634235
13,1014,sao paulo,SP,-23.546137,-46.633597
14,1015,sao paulo,SP,-23.547453,-46.632180
15,1016,sao paulo,SP,-23.549095,-46.632112
16,1017,sao paulo,SP,-23.549456,-46.631303
17,1018,sao paulo,SP,-23.551354,-46.632762
18,1019,sao paulo,SP,-23.551780,-46.630784
19,1020,sao paulo,SP,-23.552212,-46.629745
20,1021,sao paulo,SP,-23.542761,-46.632069
21,1022,sao paulo,SP,-23.544781,-46.632063
22,1023,sao paulo,SP,-23.542477,-46.631396
23,1024,sao paulo,SP,-23.541292,-46.629874
24,1025,sao paulo,SP,-23.540303,-46.631087
25,1026,sao paulo,SP,-23.539639,-46.632224
26,1027,sao paulo,SP,-23.538099,-46.630471
27,1028,sao paulo,SP,-23.535908,-46.633671
28,1029,sao paulo,SP,-23.540574,-46.633129
29,1030,sao paulo,SP,-23.540537,-46.633070
30,1031,sao paulo,SP,-23.541358,-46.634942
31,1032,sao paulo,SP,-23.539907,-46.635101
32,1033,sao paulo,SP,-23.538937,-46.636000
33,1034,sao paulo,SP,-23.542551,-46.637319
34,1035,sao paulo,SP,-23.541772,-46.641307
35,1036,sao paulo,SP,-23.541905,-46.640962
36,1037,sao paulo,SP,-23.545497,-46.639136
37,1038,sao paulo,SP,-23.543879,-46.639954
38,1039,sao paulo,SP,-23.541342,-46.639090
39,1040,sao paulo,SP,-23.541310,-46.638710
40,1041,sao paulo,SP,-23.544053,-46.639868
41,1042,sao paulo,SP,-23.544724,-46.640616
42,1043,sao paulo,SP,-23.545752,-46.641481
43,1044,sao paulo,SP,-23.545557,-46.641501
44,1045,sao paulo,SP,-23.542450,-46.642711
45,1046,sao paulo,SP,-23.545839,-46.643722
46,1047,sao paulo,SP,-23.546094,-46.640949
47,1048,sao paulo,SP,-23.547043,-46.639772
48,1049,sao paulo,SP,-23.547460,-46.639582
49,1050,sao paulo,SP,-23.549184,-46.643050

In [279]:
cleaned_geolocation_mean

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550271,-46.634047
1,1002,sao paulo,SP,-23.547657,-46.634991
2,1003,sao paulo,SP,-23.548991,-46.635653
3,1004,sao paulo,SP,-23.549829,-46.634792
4,1005,sao paulo,SP,-23.549487,-46.636650
...,...,...,...,...,...
19455,99960,charrua,RS,-27.953722,-52.025511
19456,99965,agua santa,RS,-28.183372,-52.039850
19457,99970,ciriaco,RS,-28.343920,-51.874988
19458,99980,david canabarro,RS,-28.389500,-51.843122
19459,99990,muliterno,RS,-28.329595,-51.769362

In [247]:
#cleaned_geolocation_mean[cleaned_geolocation_mean['geolocation_city'].isin(['sao bernardo do campo'])]

In [248]:
#cleaned_geolocation[cleaned_geolocation['geolocation_city'].isin(['sao luiz do paraitinga'])]

In [272]:
cleaned_geolocation_mean = cleaned_geolocation_mean.sort_values(by='geolocation_zip_code_prefix')
cleaned_geolocation_mean.info()
print(cleaned_geolocation_mean.nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 19460 entries, 0 to 19459
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19460 non-null  int64
 1   geolocation_city             19460 non-null  object
 2   geolocation_state            19460 non-null  object
 3   geolocation_lat              19460 non-null  float64
 4   geolocation_lng              19460 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 912.2+ KB
geolocation_zip_code_prefix    19015
geolocation_city                5873
geolocation_state                 27
geolocation_lat                19444
geolocation_lng                19444
dtype: int64

duplicates= geolocation_df.duplicated()
dupe_df = geolocation_df[duplicates]
dupe_df ####this willprint the duplicate rows in geolocation_df

In [266]:
g1=cleaned_geolocation_mean[['geolocation_zip_code_prefix','geolocation_city','geolocation_state']]
duplicates= g1['geolocation_zip_code_prefix'].duplicated()
duplicate_zip= g1[duplicates]
duplicate_zip

       geolocation_zip_code_prefix geolocation_city geolocation_state
3500                          7097        guarulhos                SP
3651                          7786       jordanesia                SP
3653                          7787          cajamar                SP
3656                          7790         caieiras                SP
3660                          7792          cajamar                SP
...                            ...              ...               ...
18152                        89294         fragosos                SC
18765                        95181      farroupilha                RS
18782                        95272     otavio rocha                RS
18997                        96222       rio grande                RS
19079                        96859    monte alverne                RS

[445 rows x 3 columns]

In [267]:
duplicate_rows= g1[g1.duplicated(subset=['geolocation_zip_code_prefix'], keep= False)]
print("INDEX NUMBER:")
print(duplicate_rows.index.tolist())
duplicate_rows.tail(50)

INDEX NUMBER:
[3499, 3500, 3650, 3651, 3652, 3653, 3657, 3656, 3659, 3660, 3661, 3662, 3910, 3911, 4180, 4181, 4282, 4283, 4281, 4473, 4474, 4476, 4477, 4483, 4482, 4485, 4486, 4488, 4489, 4492, 4493, 4494, 4495, 4636, 4635, 5004, 5005, 5041, 5042, 5220, 5221, 5236, 5237, 5260, 5261, 5333, 5334, 5380, 5381, 5434, 5433, 5713, 5714, 5865, 5866, 5890, 5889, 5909, 5910, 6106, 6107, 6115, 6116, 6191, 6192, 6223, 6222, 6246, 6247, 6291, 6292, 6308, 6307, 6358, 6359, 6363, 6362, 6365, 6366, 6646, 6647, 6752, 6753, 6809, 6810, 6812, 6811, 6813, 6814, 6819, 6820, 6859, 6858, 6860, 6861, 7011, 7010, 7022, 7023, 7024, 7025, 7179, 7180, 7184, 7185, 7188, 7189, 7199, 7200, 7205, 7206, 7214, 7215, 7216, 7217, 7221, 7220, 7222, 7223, 7224, 7432, 7433, 7460, 7461, 7464, 7465, 7468, 7469, 7481, 7482, 7485, 7486, 7484, 7487, 7488, 7562, 7561, 7586, 7587, 7590, 7591, 7594, 7595, 7596, 7597, 7598, 7599, 7604, 7605, 7642, 7643, 7656, 7655, 7676, 7675, 7677, 7678, 7680, 7681, 7685, 7686, 7695, 7696, 7698, 7699, 7716, 7717, 7732, 7731, 7735, 7736, 7738, 7739, 7762, 7761, 7763, 7764, 7767, 7768, 7776, 7777, 7806, 7807, 7822, 7823, 7829, 7828, 7827, 7830, 7831, 7833, 7834, 7909, 7910, 7958, 7959, 7993, 7994, 7995, 7996, 8020, 8021, 8028, 8029, 8069, 8070, 8098, 8099, 8106, 8107, 8156, 8157, 8417, 8416, 8622, 8623, 8627, 8626, 8662, 8663, 8684, 8685, 8716, 8717, 8726, 8727, 8735, 8736, 8737, 8738, 8752, 8753, 8767, 8768, 8766, 8791, 8792, 8794, 8795, 8797, 8796, 8810, 8811, 8812, 8813, 8815, 8814, 8817, 8816, 8818, 8819, 8820, 8821, 8832, 8833, 8845, 8846, 8883, 8882, 8940, 8939, 8950, 8951, 9007, 9006, 9025, 9024, 9103, 9104, 9105, 9106, 9107, 9125, 9126, 9140, 9141, 9182, 9183, 9210, 9211, 9212, 9213, 9277, 9278, 9301, 9300, 9303, 9304, 9368, 9367, 9491, 9490, 9492, 9493, 9494, 9495, 9496, 9497, 9498, 9499, 9528, 9527, 9548, 9547, 9637, 9638, 9712, 9713, 9767, 9766, 9776, 9777, 9778, 9785, 9784, 9786, 9787, 9800, 9801, 9891, 9892, 9900, 9901, 9930, 9931, 9961, 9962, 10029, 10030, 10052, 10053, 10403, 10401, 10402, 10406, 10407, 10409, 10408, 10411, 10412, 10410, 10424, 10425, 10644, 10645, 10706, 10705, 10736, 10737, 10774, 10773, 10775, 10776, 10802, 10801, 10804, 10805, 10806, 10807, 10823, 10824, 10904, 10905, 10928, 10929, 11011, 11010, 11049, 11050, 11455, 11456, 11495, 11494, 11497, 11498, 11517, 11518, 11531, 11532, 11651, 11652, 11654, 11655, 11708, 11709, 11793, 11794, 11828, 11829, 11831, 11832, 11848, 11849, 11911, 11912, 11916, 11917, 11942, 11943, 11960, 11959, 12092, 12093, 12095, 12094, 12096, 12097, 12098, 12099, 12104, 12103, 12161, 12160, 12220, 12221, 12222, 12223, 12225, 12224, 12227, 12228, 12229, 12230, 12231, 12232, 12236, 12235, 12240, 12241, 12460, 12461, 12560, 12559, 12896, 12897, 12972, 12973, 12984, 12985, 12987, 12988, 13024, 13023, 13032, 13033, 13186, 13185, 13750, 13751, 13805, 13806, 13807, 13814, 13813, 13946, 13945, 13968, 13969, 13997, 13998, 13999, 14000, 14032, 14033, 14046, 14047, 14066, 14067, 14093, 14094, 14098, 14097, 14130, 14131, 14165, 14166, 14321, 14322, 14364, 14363, 14366, 14367, 14504, 14505, 14507, 14506, 14508, 14509, 14510, 14511, 14512, 14513, 14514, 14515, 14517, 14518, 14519, 14520, 14521, 14522, 14607, 14608, 14609, 14610, 14611, 14612, 14614, 14613, 14616, 14617, 14618, 14619, 14623, 14622, 14630, 14629, 14632, 14631, 14633, 14634, 14635, 14636, 14641, 14640, 14644, 14645, 14649, 14648, 14651, 14650, 14652, 14653, 14655, 14656, 14657, 14658, 14660, 14659, 14662, 14663, 14664, 14665, 14667, 14666, 14670, 14671, 14672, 14673, 14674, 14675, 14676, 14677, 14679, 14678, 14681, 14682, 14683, 14684, 14689, 14688, 14692, 14693, 14694, 14695, 14696, 14697, 14701, 14702, 14705, 14706, 14708, 14709, 14713, 14714, 14717, 14716, 14718, 14719, 14723, 14724, 14727, 14728, 14729, 14730, 14731, 14732, 14735, 14734, 14737, 14738, 14741, 14742, 14743, 14744, 14746, 14745, 14752, 14753, 14755, 14754, 14756, 14757, 14759, 14760, 14761, 14762, 14791, 14792, 14794, 14793, 14795, 14796, 14799, 14800, 14803, 14802, 14804, 14805, 14806, 14807, 14808, 14809, 14810, 14811, 14813, 14814, 14816, 14817, 14818, 14819, 14822, 14821, 14824, 14825, 14831, 14830, 14832, 14833, 14834, 14835, 14836, 14837, 14840, 14839, 14841, 14842, 14843, 14844, 14846, 14847, 14849, 14848, 14851, 14852, 14859, 14858, 14857, 14861, 14862, 14863, 14864, 14866, 14867, 14869, 14870, 14872, 14873, 14877, 14878, 14885, 14884, 14886, 14887, 14888, 14889, 14894, 14895, 14897, 14896, 14899, 14898, 14901, 14902, 14904, 14905, 14906, 14907, 14909, 14908, 14912, 14913, 14918, 14917, 14921, 14922, 14923, 14924, 14926, 14925, 14930, 14931, 14932, 14933, 14937, 14936, 14938, 14939, 14941, 14942, 14943, 14944, 14947, 14946, 14948, 14949, 14953, 14954, 14965, 14966, 14967, 14968, 14970, 14971, 14972, 14973, 15033, 15034, 15048, 15049, 15051, 15052, 15054, 15055, 15057, 15058, 15060, 15059, 15061, 15062, 15064, 15065, 15068, 15067, 15070, 15069, 15071, 15072, 15076, 15077, 15080, 15079, 15081, 15082, 15083, 15084, 15089, 15088, 15092, 15093, 15100, 15101, 15107, 15106, 15114, 15115, 15117, 15118, 15123, 15124, 15122, 15546, 15547, 15570, 15571, 15611, 15612, 15692, 15693, 15708, 15709, 15763, 15764, 15784, 15785, 15853, 15854, 15855, 15856, 15858, 15857, 15859, 15860, 15871, 15872, 15906, 15905, 15913, 15914, 15916, 15915, 15917, 15918, 15920, 15921, 15925, 15926, 15931, 15932, 15944, 15945, 16220, 16221, 16257, 16256, 16294, 16293, 16335, 16336, 16378, 16379, 16563, 16564, 16566, 16567, 16675, 16676, 16714, 16715, 16875, 16876, 16938, 16939, 17086, 17087, 17088, 17194, 17195, 17468, 17469, 17470, 17471, 17545, 17546, 17566, 17567, 17682, 17681, 17721, 17722, 17768, 17767, 17826, 17825, 17827, 17828, 17860, 17861, 17940, 17939, 17960, 17961, 18034, 18033, 18048, 18049, 18151, 18152, 18766, 18765, 18781, 18782, 18996, 18997, 19080, 19079]

       geolocation_zip_code_prefix          geolocation_city geolocation_state
16676                        80630                  curitiba                PR
16714                        81470                    cidade                PR
16715                        81470                  curitiba                PR
16875                        83404                   colombo                PR
16876                        83404                  curitiba                PR
16938                        83810    areia branca dos assis                PR
16939                        83810               mandirituba                PR
17086                        85139           colonia vitoria                PR
17087                        85139                guarapuava                PR
17088                        85139                   vitoria                PR
17194                        85794     alto alegre do iguacu                PR
17195                        85794  capitao leonidas marques                PR
17468                        86818                 apucarana                PR
17469                        86818                    pirapo                PR
17470                        86819                 apucarana                PR
17471                        86819                 vila reis                PR
17545                        87145                  agua boa                PR
17546                        87145                  paicandu                PR
17566                        87214                  cianorte                PR
17567                        87214                   vidigal                PR
17682                        87895                terra rica                PR
17681                        87895         adhemar de barros                PR
17721                        88061             florianopolis                SC
17722                        88061                   floripa                SC
17768                        88165                guaporanga                SC
17767                        88165                   biguacu                SC
17826                        88370                navegantes                SC
17825                        88370                  botuvera                SC
17827                        88371                  botuvera                SC
17828                        88371                navegantes                SC
17860                        88509                     lages                SC
17861                        88509                   videira                SC
17940                        88835           morro da fumaca                SC
17939                        88835             estacao cocal                SC
17960                        88915                  maracaja                SC
17961                        88915                  maracana                SC
18034                        89115                luiz alves                SC
18033                        89115             gasao pauloar                SC
18048                        89143                 dalbergia                SC
18049                        89143                   ibirama                SC
18151                        89294              campo alegre                SC
18152                        89294                  fragosos                SC
18766                        95181                    jansen                RS
18765                        95181               farroupilha                RS
18781                        95272           flores da cunha                RS
18782                        95272              otavio rocha                RS
18996                        96222                    quinta                RS
18997                        96222                rio grande                RS
19080                        96859         santa cruz do sul                RS
19079                        96859             monte alverne                RS

In [268]:
duplicate_rows.head(50)

      geolocation_zip_code_prefix        geolocation_city geolocation_state
3499                         7097              adamantina                SP
3500                         7097               guarulhos                SP
3650                         7786                 cajamar                SP
3651                         7786              jordanesia                SP
3652                         7787                caieiras                SP
3653                         7787                 cajamar                SP
3657                         7790                 cajamar                SP
3656                         7790                caieiras                SP
3659                         7792                caieiras                SP
3660                         7792                 cajamar                SP
3661                         7793                caieiras                SP
3662                         7793                 cajamar                SP
3910                         8543   ferraz de vasconcelos                SP
3911                         8543               sao paulo                SP
4180                         9540      sao caetano do sul                SP
4181                         9540               sao paulo                SP
4282                         9780      sao caetano do sul                SP
4283                         9780                 sbcampo                SP
4281                         9780   sao bernardo do campo                SP
4473                        11610  sao francisco da praia                SP
4474                        11610           sao sebastiao                SP
4476                        11612  sao francisco da praia                SP
4477                        11612           sao sebastiao                SP
4483                        11619           sao sebastiao                SP
4482                        11619  sao francisco da praia                SP
4485                        11621                maresias                SP
4486                        11621           sao sebastiao                SP
4488                        11623                maresias                SP
4489                        11623           sao sebastiao                SP
4492                        11626                maresias                SP
4493                        11626           sao sebastiao                SP
4494                        11628                maresias                SP
4495                        11628           sao sebastiao                SP
4636                        12249     sao jose dos campos                SP
4635                        12249    sao francisco xavier                SP
5004                        13318                cabreuva                SP
5005                        13318                  jacare                SP
5041                        13380                 mombuca                SP
5042                        13380             nova odessa                SP
5220                        13820              jaguariuna                SP
5221                        13820     monte alegre do sul                SP
5236                        13855   martinho prado junior                SP
5237                        13855              mogi guacu                SP
5260                        13910              jaguariuna                SP
5261                        13910     monte alegre do sul                SP
5333                        14110         bonfim paulista                SP
5334                        14110          ribeirao preto                SP
5380                        14407                  franca                SP
5381                        14407        franca sao paulo                SP
5434                        14760            pitangueiras                SP

In [269]:
duplicate_rows

       geolocation_zip_code_prefix   geolocation_city geolocation_state
3499                          7097         adamantina                SP
3500                          7097          guarulhos                SP
3650                          7786            cajamar                SP
3651                          7786         jordanesia                SP
3652                          7787           caieiras                SP
...                            ...                ...               ...
18782                        95272       otavio rocha                RS
18996                        96222             quinta                RS
18997                        96222         rio grande                RS
19080                        96859  santa cruz do sul                RS
19079                        96859      monte alverne                RS

[875 rows x 3 columns]

In [271]:
# Define the file path where you want to save the CSV file
csv_file_path = "C:/Users/Ros/Desktop/JDC/finalproject/duplicate.csv"

# Convert the DataFrame to a CSV file
duplicate_rows.to_csv(csv_file_path, index= True)

# Confirmation message
print("DataFrame converted to CSV successfully.")

DataFrame converted to CSV successfully.

In [273]:
if len(cleaned_geolocation_mean) == len(cleaned_geolocation_mean.drop_duplicates()):
    print("Dataframe doesn't have duplicates")
else:
    print("The dataframe contains duplicates")

Dataframe doesn't have duplicates

In [278]:
g2=cleaned_geolocation_mean[['geolocation_lat','geolocation_lng']]
duplicates_cordinates_bol= g2.duplicated(keep = False)
duplicates_cordinates= cleaned_geolocation_mean[duplicates_cordinates_bol]
duplicates_cordinates

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
2064,4479,sao paulo,SP,-23.660234,-46.720390
2281,4779,sao paulo,SP,-23.660234,-46.720390
8820,35418,lavras novas,MG,-20.470616,-43.516642
8821,35418,ouro preto,MG,-20.470616,-43.516642
14302,69410,caapiranga,AM,-3.328865,-61.210016
14304,69425,caapiranga,AM,-3.328865,-61.210016
14321,69555,carauari,AM,-3.374207,-64.711848
14322,69555,tefe,AM,-3.374207,-64.711848
14391,70002,brasilia,DF,-15.790439,-47.880655
14396,70044,brasilia,DF,-15.797782,-47.874682
14397,70047,brasilia,DF,-15.797782,-47.874682
14398,70048,brasilia,DF,-15.797782,-47.874682
14399,70053,brasilia,DF,-15.797782,-47.874682
14401,70055,brasilia,DF,-15.797782,-47.874682
14402,70056,brasilia,DF,-15.799446,-47.869285
14403,70057,brasilia,DF,-15.790439,-47.880655
14404,70059,brasilia,DF,-15.799446,-47.869285
14405,70064,brasilia,DF,-15.797782,-47.874682
14406,70065,brasilia,DF,-15.797782,-47.874682
14411,70074,brasilia,DF,-15.801638,-47.882476
14413,70078,brasilia,DF,-15.801638,-47.882476
16638,80002,curitiba,PR,-25.439563,-49.261963
16655,80231,curitiba,PR,-25.439563,-49.261963
18325,90001,porto alegre,RS,-30.028364,-51.230589
18326,90002,porto alegre,RS,-30.028364,-51.230589
18429,91501,porto alegre,RS,-30.076539,-51.124850
18430,91509,porto alegre,RS,-30.076539,-51.124850