In [2]:
import pandas as pd

customers_df = pd.read_csv("C:/Users/Ros/Desktop/JDC/finalproject/Dataset/olist_customers_dataset.csv")

customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [34]:
customers_df.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [28]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [29]:
customers_df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [35]:
duplicate= customers_df.duplicated()

duplicate

0        False
1        False
2        False
3        False
4        False
         ...
99436    False
99437    False
99438    False
99439    False
99440    False
Length: 99441, dtype: bool

In [37]:
if len(customers_df) == len(customers_df.drop_duplicates()):
    print("Dataframe doesn't have duplicates")
else:
    print("The dataframe contains duplicates")

Dataframe doesn't have duplicates

In [38]:
customers = customers_df['customer_unique_id'].nunique()

print("Total number of customers:", customers)

Total number of customers: 96096

In [3]:
customers_df['customer_zip_code_prefix'] = customers_df['customer_zip_code_prefix'].astype(str)

# Add leading zero to values with only 4 digits
customers_df['customer_zip_code_prefix'] = customers_df['customer_zip_code_prefix'].apply(lambda x: '0' + x if len(x) == 4 else x)

In [47]:
unique_customer_id = customers_df['customer_id'].unique()
unique_customer_unique_id = customers_df['customer_unique_id'].unique()
unique_customer_zip_code_prefix = customers_df['customer_zip_code_prefix'].unique()
unique_customer_city = customers_df['customer_city'].unique()
unique_customer_state = customers_df['customer_state'].unique()

#print("Unique values in customer_id:", unique_customer_id)
#print("Unique values in customer_unique_id:", unique_customer_unique_id)
print("Unique values in customer_zip_code_prefix:", unique_customer_zip_code_prefix)
print("Unique values in customer_city:", unique_customer_city)
print("Unique values in customer_state:", unique_customer_state)

Unique values in customer_zip_code_prefix: ['14409' '09790' '01151' ... '05538' '74980' '99043']
Unique values in customer_city: ['franca' 'sao bernardo do campo' 'sao paulo' ... 'monte bonito'
 'sao rafael' 'eugenio de castro']
Unique values in customer_state: ['SP' 'SC' 'MG' 'PR' 'RJ' 'RS' 'PA' 'GO' 'ES' 'BA' 'MA' 'MS' 'CE' 'DF'
 'RN' 'PE' 'MT' 'AM' 'AP' 'AL' 'RO' 'PB' 'TO' 'PI' 'AC' 'SE' 'RR']

In [48]:
nunique_customer_id = customers_df['customer_id'].nunique()
nunique_customer_unique_id = customers_df['customer_unique_id'].nunique()
nunique_customer_zip_code_prefix = customers_df['customer_zip_code_prefix'].nunique()
nunique_customer_city = customers_df['customer_city'].nunique()
nunique_customer_state = customers_df['customer_state'].nunique()

print("No.Unique values in customer_id:", nunique_customer_id)
print("No.Unique values in customer_unique_id:", nunique_customer_unique_id)
print("No.Unique values in customer_zip_code_prefix:", nunique_customer_zip_code_prefix)
print("No.Unique values in customer_city:", nunique_customer_city)
print("No.Unique values in customer_state:",nunique_customer_state)

No.Unique values in customer_id: 99441
No.Unique values in customer_unique_id: 96096
No.Unique values in customer_zip_code_prefix: 14994
No.Unique values in customer_city: 4119
No.Unique values in customer_state: 27

In [44]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [55]:
customer_df = customers_df.sort_values(by='customer_city')
customer_df.head(50)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
44027,a23e3f9a2b656b23b7e52075964b42cd,afddf43a03a9941624ed42c0b2c17280,38540,abadia dos dourados,MG
74529,9e01f714a2b3b8962c222cf2b74c20dc,e1feae9083c4c2895ddf6dc80526a85d,38540,abadia dos dourados,MG
19445,f11eb8f0b8b87510a93e3e1aa10b0ade,64ee476500a01beb94df40f97a108c50,38540,abadia dos dourados,MG
42307,576d71ddb21b21763cfedce73b902180,8d76b559181609308fcae630ea64cd61,72940,abadiania,GO
5205,5e9e1ae42e02df93e9a591e86fd531a3,28af9604f7830ef6d1230fb575c39eb1,35620,abaete,MG
11734,ff0d62f8be4c098e6306f39bc6ebded4,ab26557b289641b505abd795c0913683,35620,abaete,MG
49712,24d97ea7bb12a40f87d701e17017d282,5bd046eccd966d97c4fe06e8d75a64a7,35620,abaete,MG
61140,08528824266cd0720658ff01df662b6a,8f7f547488a05660770b51be707eb2a3,35620,abaete,MG
61789,225634426cfd64638ae97bf60e190f5b,ca1a0307fe782c9125fd9264c92db778,35620,abaete,MG
41957,d47c8bb51df6f716e196ecd6cd5d2c09,189af2582a09a860e7ebebaec950b0af,35620,abaete,MG
77482,3c46a6771b9833c7571cd2498f548f95,2a19a29632faf108fd680a976034fa3d,35620,abaete,MG
52849,a3d3c38e58b9d2dfb9207cab690b6310,5a4fa4919cbf2b049e72be460a380e5b,35620,abaete,MG
82676,5371894984937a27cf40c7d20699a786,2d69de392ffdb5def80917230154351d,35620,abaete,MG
24154,962b41ee521809e7435fdac0d93063a9,8b8545eb716cbef0248f0546f3335c1c,35620,abaete,MG
47918,2bf14bf7a1f0610883d264cae6bc4de6,1605eaf5744972f09529a6ce287e9e47,35620,abaete,MG
53051,e67618ef4120e6f73c343ef079dc405e,a0e363eb99ec5c321d26ef6618308918,35620,abaete,MG
44867,987b15cf895b62d1fe337652f44f802f,5ecc0af8adb07684da096d602bdec28c,68440,abaetetuba,PA
11200,305f736d2711641a06f6a9c9bd837b00,adc650abc7894831caafbf528540e9ea,68440,abaetetuba,PA
68477,9cc7a2a2047164790f51e316659268f7,27fffe110e3f28e0b75bdc8457a0d2a6,68440,abaetetuba,PA
93641,91c613027d3cd07c35a73748df503df4,09b12abeaeb6d87e19039e1970f3ff1e,68440,abaetetuba,PA
20681,3c12346ea1f05ce151ba3029c1cbf60d,9bf9e8c962ab8bce4daf3ec7d0a59e13,68440,abaetetuba,PA
54733,7727e2cc9ec428ad3173cc812ce1781b,863bdd77d135015fc5c250a5255864a6,68440,abaetetuba,PA
95795,367fd22f1e994de87cf447d29c167a1f,9811f75e58306711797259182809ba81,68440,abaetetuba,PA
1672,9eacb91940312f2ff79fef11b622694b,4f8959e75186c78246b83bfb4219e419,68440,abaetetuba,PA
21577,c7eb06383ae604616cb4c9d36fe6745e,f94c00f0411b6a3e6cbde94b120fb786,68440,abaetetuba,PA
2630,ba1249c05a651c21b3e6a99caaad9525,4e9fed16983d17a7db116c9215ad25c0,68440,abaetetuba,PA
75965,3f6cd3d8326965c0d9cc53a851559a0e,c86ac97751bb46bf642e75bf8455f199,68440,abaetetuba,PA
69825,9723d86b12bdec025be4c43f71b0ba52,6aec5018133cf1d78b6466412d89cde5,63240,abaiara,CE
20202,f8508e9ec506a046a25f3a4a63d0c630,738ee47ca7799ec680527c31c73b7ef5,63240,abaiara,CE
80007,11888d3334232a1eb08db5826129c8df,f7441819130a8cb81a399063b838972f,46690,abaira,BA
75344,43b0018187e2831197aab2587884c29c,c273e6625c30e96ee5cefdd2c4e746d8,46690,abaira,BA
82065,7106ec9a475922e353e618396d53cf4e,54e4025671d9a194561b1c4e9165460d,48680,abare,BA
92526,e5ebeccac97f5d1d0580b471b47a8843,87726d88f0e4f580a57d2a9fbf5714ba,48680,abare,BA
15591,1f09c5f1dca56a5017be0bf4642d6c5a,cc2fdb384d6a6e40a1de9427aa4a3a6f,86460,abatia,PR
9934,6298ba3029dfa6658693e1b36ce1842a,212dff73941d7289377ecac3f5021cd3,86460,abatia,PR
29297,217344c7c334e16c8e76551b4b240c1d,584455f2e1e703ad4ea6618f833ff1ac,86460,abatia,PR
11073,d0bf4e8b500496185217d29fdfd36b9f,63cd40f426fb131353e7383e15d95bb8,89636,abdon batista,SC
36990,e9418d322fe41c3c08925015ef03d222,ae0467368e3026737845181a3d85e64b,89830,abelardo luz,SC
43207,0609f5889f00803311ba52e9219c3872,d19a7ae8f7906b5e2d81522802cdad62,89830,abelardo luz,SC
76579,1f7578e304e919d28148374730ba89e9,2d88b1b7f5efce7cfab8fb0720ad2674,89830,abelardo luz,SC
95037,14a1c38058eabe88912d5566de499c6f,c7819760e70376028f519e3b57e6c441,89830,abelardo luz,SC
85540,4da516541565ce46839da7c8a6af3fa5,a6ac029c3ae532651dc2591ebaaac6a6,89830,abelardo luz,SC
30693,fd3aaca05dc7738e405ff6669a5bf7f0,328dd6e3fed7a5e91ed7d9aa558f0bd0,89830,abelardo luz,SC
29713,0165051ac7514aff1b132007d915622f,ebfd11f20986b88de98c61d9609c569f,42840,abrantes,BA
55695,55acee103cfe584bc279a010f6c6dab4,70d58870c1a5f29a875f77716e5b34c6,42840,abrantes,BA
72852,48baae4b0e2d00b9523c8753ce7d1eba,83faa5fb102b850f97c0496302cf67ed,35365,abre campo,MG
29304,bf49919bfd6740a5f7aef378c264934c,066d4b591fafe57b3cef590f31e301ac,35365,abre campo,MG
45604,0d2234a021135cfc68d38e08f7328544,1cadf1dc88bf9e3b2e77d5ee00316668,35365,abre campo,MG
23947,8fa9f17f7cc7af41d068b9b3f8df51e8,5105b52fa696cbca4cd3ddade05149fd,35365,abre campo,MG
85158,0634a391a7b3989dda9196f26e6b2242,96e047d0f9de88ca34c9005565fbe03e,35365,abre campo,MG

In [5]:
cities = customers_df["customer_city"].nunique()
c1 = customers_df.groupby('customer_city')['customer_id'].nunique().sort_values(ascending=False)
print("There are",cities,"unique cities in the database. The TOP 10 cities are:")
c2 = c1.head(10)
print(c2)

There are 4119 unique cities in the database. The TOP 10 cities are:
customer_city
sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
campinas                  1444
porto alegre              1379
salvador                  1245
guarulhos                 1189
sao bernardo do campo      938
Name: customer_id, dtype: int64

In [7]:
c1

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
                  ...
ibiara                1
rio espera            1
rio dos indios        1
rio dos cedros        1
lagoao                1
Name: customer_id, Length: 4119, dtype: int64