In [19]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

product_category_name_translation_df = pd.read_csv("data/product_category_name_translation.csv")

product_category_name_translation_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

## Count the number of unique rows

In [20]:
#Total unique rows
len(product_category_name_translation_df["product_category_name"].unique())

71

## Information on the dataset - the data types of the columns

In [21]:
#information about the dataframe 
product_category_name_translation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Count the total number of rows and columns

In [22]:
# Get the count of total rows and columns
product_category_name_translation_df.shape

(71, 2)

## Check for null values

In [23]:
# Calculate the sum of empty cells in each column
print("\nEmpty cells count in DataFrame:")
print(product_category_name_translation_df.isnull().sum())

Empty cells count in DataFrame:
product_category_name            0
product_category_name_english    0
dtype: int64

## Connection into postgresql

In [24]:
#connection to postgresql 

conn =None
cur=None


try:
     conn = psycopg2.connect(
     host='localhost',
     dbname='Database(new)',
     user='postgres',
     password='admin',
     port='5432',
     )
     cur=conn.cursor()

 
     create_script_review ='''CREATE TABLE IF NOT EXISTS olist_name_translation (
          product_id varchar(200),
          product_category_name varchar(200),
          FOREIGN KEY (product_category_name_translation) REFERENCES olist_product_dataset(product_category_name)
)'''


     cur.execute(create_script_review)

     conn.commit()

     for index, row in product_category_name_translation_df.iterrows():
        
          insert_script_host = '''INSERT INTO olist_name_translation   (  
          product_id ,
          product_category_name) VALUES (%s,%s) '''
          values =(row.iloc[0],row.iloc[1])
          cur.execute(insert_script_host,values)
          conn.commit()



except Exception as error:      
     print(error)


finally:

     if cur is not None:

          cur.close()
          conn.close()